.elementor-143 .elementor-element.elementor-element-e396b69{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--padding-top:80px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-143 .elementor-element.elementor-element-65ba9c5{--display:flex;--overflow:hidden;--padding-top:0px;--padding-bottom:0px;--padding-left:40px;--padding-right:0px;}.elementor-143 .elementor-element.elementor-element-2b64a13 .elementor-heading-title{font-family:"Atype Display", Sans-serif;font-size:82px;font-weight:400;text-transform:none;line-height:1.05em;letter-spacing:-0.04em;color:var( --e-global-color-f66f709 );}.elementor-143 .elementor-element.elementor-element-2b64a13 > .elementor-widget-container{margin:0px 0px 73px 0px;}.elementor-143 .elementor-element.elementor-element-72ae894{--display:flex;}.elementor-143 .elementor-element.elementor-element-1bb9713{--swiper-slides-to-display:2;--swiper-offset-size:50px;--swiper-slides-gap:25px;}.elementor-143 .elementor-element.elementor-element-1bb9713 .swiper-slide > .elementor-element{height:100%;}.elementor-143 .elementor-element.elementor-element-c7472d3{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--overflow:hidden;--padding-top:80px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-143 .elementor-element.elementor-element-51265a3{--display:flex;--overflow:hidden;--padding-top:0px;--padding-bottom:0px;--padding-left:40px;--padding-right:0px;}.elementor-143 .elementor-element.elementor-element-f7b685b .elementor-heading-title{font-family:"Atype Display", Sans-serif;font-size:82px;font-weight:400;text-transform:none;line-height:1.05em;letter-spacing:-0.04em;color:var( --e-global-color-f66f709 );}.elementor-143 .elementor-element.elementor-element-f7b685b > .elementor-widget-container{margin:0px 0px 73px 0px;}.elementor-143 .elementor-element.elementor-element-39a3044{--display:flex;}.elementor-143 .elementor-element.elementor-element-5154109{--swiper-slides-to-display:2;--swiper-offset-size:50px;--swiper-slides-gap:25px;}.elementor-143 .elementor-element.elementor-element-5154109 .swiper-slide > .elementor-element{height:100%;}.elementor-143 .elementor-element.elementor-element-8a8be86{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--padding-top:80px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-143 .elementor-element.elementor-element-3d8f959{--display:flex;--overflow:hidden;--padding-top:0px;--padding-bottom:0px;--padding-left:40px;--padding-right:0px;}.elementor-143 .elementor-element.elementor-element-a4eb60a .elementor-heading-title{font-family:"Atype Display", Sans-serif;font-size:82px;font-weight:400;text-transform:none;line-height:1.05em;letter-spacing:-0.04em;color:var( --e-global-color-f66f709 );}.elementor-143 .elementor-element.elementor-element-a4eb60a > .elementor-widget-container{margin:0px 0px 73px 0px;}.elementor-143 .elementor-element.elementor-element-927671a{--display:flex;}.elementor-143 .elementor-element.elementor-element-373cfaf{--swiper-slides-to-display:2;--swiper-offset-size:50px;--swiper-slides-gap:25px;}.elementor-143 .elementor-element.elementor-element-373cfaf .swiper-slide > .elementor-element{height:100%;}.elementor-143 .elementor-element.elementor-element-4a61f99{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--padding-top:80px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-143 .elementor-element.elementor-element-1167c38{--display:flex;--overflow:hidden;--padding-top:0px;--padding-bottom:0px;--padding-left:40px;--padding-right:0px;}.elementor-143 .elementor-element.elementor-element-d6b0711 .elementor-heading-title{font-family:"Atype Display", Sans-serif;font-size:82px;font-weight:400;text-transform:none;line-height:1.05em;letter-spacing:-0.04em;color:var( --e-global-color-f66f709 );}.elementor-143 .elementor-element.elementor-element-d6b0711 > .elementor-widget-container{margin:0px 0px 73px 0px;}.elementor-143 .elementor-element.elementor-element-6ec9075{--display:flex;}.elementor-143 .elementor-element.elementor-element-798ca18{--swiper-slides-to-display:2;--swiper-offset-size:50px;--swiper-slides-gap:25px;}.elementor-143 .elementor-element.elementor-element-798ca18 .swiper-slide > .elementor-element{height:100%;}@media(max-width:1024px){.elementor-143 .elementor-element.elementor-element-e396b69{--padding-top:50px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-143 .elementor-element.elementor-element-2b64a13 .elementor-heading-title{font-size:40px;}.elementor-143 .elementor-element.elementor-element-2b64a13 > .elementor-widget-container{margin:0px 0px 50px 0px;}.elementor-143 .elementor-element.elementor-element-1bb9713{--swiper-slides-to-display:2;}.elementor-143 .elementor-element.elementor-element-c7472d3{--padding-top:100px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-143 .elementor-element.elementor-element-f7b685b .elementor-heading-title{font-size:40px;}.elementor-143 .elementor-element.elementor-element-f7b685b > .elementor-widget-container{margin:0px 0px 50px 0px;}.elementor-143 .elementor-element.elementor-element-5154109{--swiper-slides-to-display:2;}.elementor-143 .elementor-element.elementor-element-8a8be86{--padding-top:50px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-143 .elementor-element.elementor-element-a4eb60a .elementor-heading-title{font-size:40px;}.elementor-143 .elementor-element.elementor-element-a4eb60a > .elementor-widget-container{margin:0px 0px 50px 0px;}.elementor-143 .elementor-element.elementor-element-373cfaf{--swiper-slides-to-display:2;}.elementor-143 .elementor-element.elementor-element-4a61f99{--padding-top:50px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-143 .elementor-element.elementor-element-d6b0711 .elementor-heading-title{font-size:40px;}.elementor-143 .elementor-element.elementor-element-d6b0711 > .elementor-widget-container{margin:0px 0px 50px 0px;}.elementor-143 .elementor-element.elementor-element-798ca18{--swiper-slides-to-display:2;}}@media(max-width:767px){.elementor-143 .elementor-element.elementor-element-e396b69{--padding-top:34px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-143 .elementor-element.elementor-element-65ba9c5{--padding-top:0px;--padding-bottom:0px;--padding-left:15px;--padding-right:0px;}.elementor-143 .elementor-element.elementor-element-2b64a13 .elementor-heading-title{font-size:40px;line-height:1.05em;}.elementor-143 .elementor-element.elementor-element-2b64a13 > .elementor-widget-container{margin:0px 0px 30px 0px;}.elementor-143 .elementor-element.elementor-element-1bb9713{--swiper-slides-to-display:1;--swiper-offset-size:30px;--swiper-slides-gap:15px;}.elementor-143 .elementor-element.elementor-element-c7472d3{--padding-top:50px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-143 .elementor-element.elementor-element-51265a3{--padding-top:0px;--padding-bottom:0px;--padding-left:15px;--padding-right:0px;}.elementor-143 .elementor-element.elementor-element-f7b685b .elementor-heading-title{font-size:40px;line-height:1.05em;}.elementor-143 .elementor-element.elementor-element-f7b685b > .elementor-widget-container{margin:0px 0px 30px 0px;}.elementor-143 .elementor-element.elementor-element-5154109{--swiper-slides-to-display:1;--swiper-offset-size:30px;--swiper-slides-gap:15px;}.elementor-143 .elementor-element.elementor-element-8a8be86{--padding-top:34px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-143 .elementor-element.elementor-element-3d8f959{--padding-top:0px;--padding-bottom:0px;--padding-left:15px;--padding-right:0px;}.elementor-143 .elementor-element.elementor-element-a4eb60a .elementor-heading-title{font-size:40px;line-height:1.05em;}.elementor-143 .elementor-element.elementor-element-a4eb60a > .elementor-widget-container{margin:0px 0px 30px 0px;}.elementor-143 .elementor-element.elementor-element-373cfaf{--swiper-slides-to-display:1;--swiper-offset-size:30px;--swiper-slides-gap:15px;}.elementor-143 .elementor-element.elementor-element-4a61f99{--padding-top:34px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-143 .elementor-element.elementor-element-1167c38{--padding-top:0px;--padding-bottom:0px;--padding-left:15px;--padding-right:0px;}.elementor-143 .elementor-element.elementor-element-d6b0711 .elementor-heading-title{font-size:40px;line-height:1.05em;}.elementor-143 .elementor-element.elementor-element-d6b0711 > .elementor-widget-container{margin:0px 0px 30px 0px;}.elementor-143 .elementor-element.elementor-element-798ca18{--swiper-slides-to-display:1;--swiper-offset-size:30px;--swiper-slides-gap:15px;}}/* Start custom CSS for loop-carousel, class: .elementor-element-1bb9713 */.elementor-143 .elementor-element.elementor-element-1bb9713 .swiper, .elementor-143 .elementor-element.elementor-element-1bb9713 .swiper-wrapper {
    overflow: visible;
}



/*@media (max-width: 767px) {*/
    


/*.elementor-143 .elementor-element.elementor-element-1bb9713 .swiper-slide-active .postItem__info *,*/
/*.elementor-143 .elementor-element.elementor-element-1bb9713 .swiper-slide-active .postItem__title *,*/
/*.elementor-143 .elementor-element.elementor-element-1bb9713 .swiper-slide-active .postItem__excerpt * {*/
/*    color: #000 !important;*/
/*}*/


/*.elementor-143 .elementor-element.elementor-element-1bb9713 .swiper-slide-active .postItem__contents {*/
/*   transform: translateY(0) !important;*/
/*}*/


/*.elementor-143 .elementor-element.elementor-element-1bb9713 .swiper-slide-active .postItem__excerpt {*/
/*   opacity: 1;*/
/*}*/

/*.elementor-143 .elementor-element.elementor-element-1bb9713 .swiper-slide-active .postItem__bg{*/
/*    opacity: 0;*/
/*}*/

/*}*//* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-f7b685b */.elementor-143 .elementor-element.elementor-element-f7b685b {
    opacity: 0;
    visibility: hidden;
}


.elementor-editor-active .elementor-143 .elementor-element.elementor-element-f7b685b {
    opacity: 1;
    visibility: visible;
}/* End custom CSS */
/* Start custom CSS for loop-carousel, class: .elementor-element-5154109 */.elementor-143 .elementor-element.elementor-element-5154109 .swiper, .elementor-143 .elementor-element.elementor-element-5154109 .swiper-wrapper {
    overflow: visible;
}



/*@media (max-width: 767px) {*/
    


/*.elementor-143 .elementor-element.elementor-element-5154109 .swiper-slide-active .postItem__info *,*/
/*.elementor-143 .elementor-element.elementor-element-5154109 .swiper-slide-active .postItem__title *,*/
/*.elementor-143 .elementor-element.elementor-element-5154109 .swiper-slide-active .postItem__excerpt * {*/
/*    color: #000 !important;*/
/*}*/


/*.elementor-143 .elementor-element.elementor-element-5154109 .swiper-slide-active .postItem__contents {*/
/*   transform: translateY(0) !important;*/
/*}*/


/*.elementor-143 .elementor-element.elementor-element-5154109 .swiper-slide-active .postItem__excerpt {*/
/*   opacity: 1;*/
/*}*/

/*.elementor-143 .elementor-element.elementor-element-5154109 .swiper-slide-active .postItem__bg{*/
/*    opacity: 0;*/
/*}*/

/*}*//* End custom CSS */
/* Start custom CSS for loop-carousel, class: .elementor-element-373cfaf */.elementor-143 .elementor-element.elementor-element-373cfaf .swiper, .elementor-143 .elementor-element.elementor-element-373cfaf .swiper-wrapper {
    overflow: visible;
}



/*@media (max-width: 767px) {*/
    


/*.elementor-143 .elementor-element.elementor-element-373cfaf .swiper-slide-active .postItem__info *,*/
/*.elementor-143 .elementor-element.elementor-element-373cfaf .swiper-slide-active .postItem__title *,*/
/*.elementor-143 .elementor-element.elementor-element-373cfaf .swiper-slide-active .postItem__excerpt * {*/
/*    color: #000 !important;*/
/*}*/


/*.elementor-143 .elementor-element.elementor-element-373cfaf .swiper-slide-active .postItem__contents {*/
/*   transform: translateY(0) !important;*/
/*}*/


/*.elementor-143 .elementor-element.elementor-element-373cfaf .swiper-slide-active .postItem__excerpt {*/
/*   opacity: 1;*/
/*}*/

/*.elementor-143 .elementor-element.elementor-element-373cfaf .swiper-slide-active .postItem__bg{*/
/*    opacity: 0;*/
/*}*/

/*}*//* End custom CSS */
/* Start custom CSS for loop-carousel, class: .elementor-element-798ca18 */.elementor-143 .elementor-element.elementor-element-798ca18 .swiper, .elementor-143 .elementor-element.elementor-element-798ca18 .swiper-wrapper {
    overflow: visible;
}



/*@media (max-width: 767px) {*/
    


/*.elementor-143 .elementor-element.elementor-element-798ca18 .swiper-slide-active .postItem__info *,*/
/*.elementor-143 .elementor-element.elementor-element-798ca18 .swiper-slide-active .postItem__title *,*/
/*.elementor-143 .elementor-element.elementor-element-798ca18 .swiper-slide-active .postItem__excerpt * {*/
/*    color: #000 !important;*/
/*}*/


/*.elementor-143 .elementor-element.elementor-element-798ca18 .swiper-slide-active .postItem__contents {*/
/*   transform: translateY(0) !important;*/
/*}*/


/*.elementor-143 .elementor-element.elementor-element-798ca18 .swiper-slide-active .postItem__excerpt {*/
/*   opacity: 1;*/
/*}*/

/*.elementor-143 .elementor-element.elementor-element-798ca18 .swiper-slide-active .postItem__bg{*/
/*    opacity: 0;*/
/*}*/

/*}*//* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Atype Display';
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url('/wp-content/uploads/2024/05/AtypDisplay-Regular.eot');
	src: url('/wp-content/uploads/2024/05/AtypDisplay-Regular.eot?#iefix') format('embedded-opentype'),
		url('/wp-content/uploads/2024/05/AtypDisplay-Regular.woff2') format('woff2'),
		url('/wp-content/uploads/2024/05/AtypDisplay-Regular.woff') format('woff'),
		url('/wp-content/uploads/2024/05/AtypDisplay-Regular.ttf') format('truetype'),
		url('/wp-content/uploads/2024/05/AtypDisplay-Regular.svg#AtypeDisplay') format('svg');
}
@font-face {
	font-family: 'Atype Display';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('/wp-content/uploads/2024/05/AtypDisplay-Semibold.eot');
	src: url('/wp-content/uploads/2024/05/AtypDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
		url('/wp-content/uploads/2024/05/AtypDisplay-Semibold.woff2') format('woff2'),
		url('/wp-content/uploads/2024/05/AtypDisplay-Semibold.woff') format('woff'),
		url('/wp-content/uploads/2024/05/AtypDisplay-Semibold.ttf') format('truetype'),
		url('/wp-content/uploads/2024/05/AtypDisplay-Semibold.svg#AtypeDisplay') format('svg');
}
@font-face {
	font-family: 'Atype Display';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('/wp-content/uploads/2024/05/AtypDisplay-Medium.eot');
	src: url('/wp-content/uploads/2024/05/AtypDisplay-Medium.eot?#iefix') format('embedded-opentype'),
		url('/wp-content/uploads/2024/05/AtypDisplay-Medium.woff2') format('woff2'),
		url('/wp-content/uploads/2024/05/AtypDisplay-Medium.woff') format('woff'),
		url('/wp-content/uploads/2024/05/AtypDisplay-Medium.ttf') format('truetype'),
		url('/wp-content/uploads/2024/05/AtypDisplay-Medium.svg#AtypeDisplay') format('svg');
}
@font-face {
	font-family: 'Atype Display';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('/wp-content/uploads/2024/05/AtypDisplay-Light.eot');
	src: url('/wp-content/uploads/2024/05/AtypDisplay-Light.eot?#iefix') format('embedded-opentype'),
		url('/wp-content/uploads/2024/05/AtypDisplay-Light.woff2') format('woff2'),
		url('/wp-content/uploads/2024/05/AtypDisplay-Light.woff') format('woff'),
		url('/wp-content/uploads/2024/05/AtypDisplay-Light.ttf') format('truetype'),
		url('/wp-content/uploads/2024/05/AtypDisplay-Light.svg#AtypeDisplay') format('svg');
}
@font-face {
	font-family: 'Atype Display';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/wp-content/uploads/2024/05/AtypDisplay-Bold.eot');
	src: url('/wp-content/uploads/2024/05/AtypDisplay-Bold.eot?#iefix') format('embedded-opentype'),
		url('/wp-content/uploads/2024/05/AtypDisplay-Bold.woff2') format('woff2'),
		url('/wp-content/uploads/2024/05/AtypDisplay-Bold.woff') format('woff'),
		url('/wp-content/uploads/2024/05/AtypDisplay-Bold.ttf') format('truetype'),
		url('/wp-content/uploads/2024/05/AtypDisplay-Bold.svg#AtypeDisplay') format('svg');
}
/* End Custom Fonts CSS */