.elementor-48 .elementor-element.elementor-element-2f6d5fe{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:space-between;--align-items:center;--padding-top:50px;--padding-bottom:0;--padding-left:50px;--padding-right:50px;--z-index:999;}.elementor-48 .elementor-element.elementor-element-2f6d5fe:not(.elementor-motion-effects-element-type-background), .elementor-48 .elementor-element.elementor-element-2f6d5fe > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-b710f37 );}.elementor-48 .elementor-element.elementor-element-25f9e8e img{width:100%;max-width:206px;}.elementor-48 .elementor-element.elementor-element-034f1ed .elementor-heading-title{font-size:20px;font-weight:400;line-height:1em;color:var( --e-global-color-f66f709 );}.elementor-48 .elementor-element.elementor-element-4417c22 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(0px/2);}.elementor-48 .elementor-element.elementor-element-4417c22 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(0px/2);}.elementor-48 .elementor-element.elementor-element-4417c22 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(0px/2);margin-left:calc(0px/2);}.elementor-48 .elementor-element.elementor-element-4417c22 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-0px/2);margin-left:calc(-0px/2);}body.rtl .elementor-48 .elementor-element.elementor-element-4417c22 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-0px/2);}body:not(.rtl) .elementor-48 .elementor-element.elementor-element-4417c22 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-0px/2);}.elementor-48 .elementor-element.elementor-element-4417c22 .elementor-icon-list-icon i{color:var( --e-global-color-ed44115 );transition:color 0.3s;}.elementor-48 .elementor-element.elementor-element-4417c22 .elementor-icon-list-icon svg{fill:var( --e-global-color-ed44115 );transition:fill 0.3s;}.elementor-48 .elementor-element.elementor-element-4417c22{--e-icon-list-icon-size:33px;--icon-vertical-offset:0px;}.elementor-48 .elementor-element.elementor-element-4417c22 .elementor-icon-list-icon{padding-right:0px;}.elementor-48 .elementor-element.elementor-element-4417c22 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-48 .elementor-element.elementor-element-4417c22 .elementor-icon-list-item > a{font-size:20px;font-weight:400;line-height:1em;}.elementor-48 .elementor-element.elementor-element-4417c22 .elementor-icon-list-text{color:var( --e-global-color-ed44115 );transition:color 0.3s;}.elementor-48 .elementor-element.elementor-element-1eea563 .elementor-button-content-wrapper{flex-direction:row-reverse;}.elementor-48 .elementor-element.elementor-element-1eea563 .elementor-button .elementor-button-content-wrapper{gap:20px;}.elementor-48 .elementor-element.elementor-element-1eea563 .elementor-button{font-size:20px;font-weight:400;line-height:1em;fill:var( --e-global-color-f66f709 );color:var( --e-global-color-f66f709 );background-color:#02010100;border-style:solid;border-width:1px 1px 1px 1px;border-color:var( --e-global-color-f66f709 );border-radius:100px 100px 100px 100px;}.elementor-48 .elementor-element.elementor-element-1eea563 .elementor-button:hover, .elementor-48 .elementor-element.elementor-element-1eea563 .elementor-button:focus{background-color:var( --e-global-color-44d17ce );border-color:var( --e-global-color-44d17ce );}.elementor-48 .elementor-element.elementor-element-1eea563 > .elementor-widget-container{margin:0px 0px 0px 40px;}.elementor-48 .elementor-element.elementor-element-cf3dcdf{--display:flex;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:space-between;--align-items:center;--padding-top:50px;--padding-bottom:0;--padding-left:50px;--padding-right:50px;--z-index:999;}.elementor-48 .elementor-element.elementor-element-cf3dcdf:not(.elementor-motion-effects-element-type-background), .elementor-48 .elementor-element.elementor-element-cf3dcdf > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-f66f709 );}.elementor-48 .elementor-element.elementor-element-87d39bf img{width:100%;max-width:206px;}.elementor-48 .elementor-element.elementor-element-72da747 .elementor-heading-title{font-size:20px;font-weight:400;line-height:1em;color:var( --e-global-color-0a34aa2 );}.elementor-48 .elementor-element.elementor-element-5694b72 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(0px/2);}.elementor-48 .elementor-element.elementor-element-5694b72 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(0px/2);}.elementor-48 .elementor-element.elementor-element-5694b72 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(0px/2);margin-left:calc(0px/2);}.elementor-48 .elementor-element.elementor-element-5694b72 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-0px/2);margin-left:calc(-0px/2);}body.rtl .elementor-48 .elementor-element.elementor-element-5694b72 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-0px/2);}body:not(.rtl) .elementor-48 .elementor-element.elementor-element-5694b72 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-0px/2);}.elementor-48 .elementor-element.elementor-element-5694b72 .elementor-icon-list-icon i{color:var( --e-global-color-ed44115 );transition:color 0.3s;}.elementor-48 .elementor-element.elementor-element-5694b72 .elementor-icon-list-icon svg{fill:var( --e-global-color-ed44115 );transition:fill 0.3s;}.elementor-48 .elementor-element.elementor-element-5694b72{--e-icon-list-icon-size:33px;--icon-vertical-offset:0px;}.elementor-48 .elementor-element.elementor-element-5694b72 .elementor-icon-list-icon{padding-right:0px;}.elementor-48 .elementor-element.elementor-element-5694b72 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-48 .elementor-element.elementor-element-5694b72 .elementor-icon-list-item > a{font-size:20px;font-weight:400;line-height:1em;}.elementor-48 .elementor-element.elementor-element-5694b72 .elementor-icon-list-text{color:var( --e-global-color-0a34aa2 );transition:color 0.3s;}.elementor-48 .elementor-element.elementor-element-1213d5c .elementor-button-content-wrapper{flex-direction:row-reverse;}.elementor-48 .elementor-element.elementor-element-1213d5c .elementor-button .elementor-button-content-wrapper{gap:20px;}.elementor-48 .elementor-element.elementor-element-1213d5c .elementor-button{font-size:20px;font-weight:400;line-height:1em;fill:var( --e-global-color-0a34aa2 );color:var( --e-global-color-0a34aa2 );background-color:#02010100;border-style:solid;border-width:1px 1px 1px 1px;border-color:var( --e-global-color-0a34aa2 );border-radius:100px 100px 100px 100px;}.elementor-48 .elementor-element.elementor-element-1213d5c .elementor-button:hover, .elementor-48 .elementor-element.elementor-element-1213d5c .elementor-button:focus{color:var( --e-global-color-f66f709 );background-color:var( --e-global-color-44d17ce );border-color:var( --e-global-color-44d17ce );}.elementor-48 .elementor-element.elementor-element-1213d5c .elementor-button:hover svg, .elementor-48 .elementor-element.elementor-element-1213d5c .elementor-button:focus svg{fill:var( --e-global-color-f66f709 );}.elementor-48 .elementor-element.elementor-element-1213d5c > .elementor-widget-container{margin:0px 0px 0px 40px;}.elementor-48 .elementor-element.elementor-element-7ef43fd{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--overflow:hidden;--border-radius:0px 0px 24px 24px;box-shadow:0px 3px 6px 0px rgba(169.99999999999997, 169.99999999999997, 169.99999999999997, 0.3);--padding-top:135px;--padding-bottom:30px;--padding-left:50px;--padding-right:50px;--z-index:999;}.elementor-48 .elementor-element.elementor-element-7ef43fd:not(.elementor-motion-effects-element-type-background), .elementor-48 .elementor-element.elementor-element-7ef43fd > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-b710f37 );}.elementor-48 .elementor-element.elementor-element-7b28bcf{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:space-between;--gap:50px 50px;--row-gap:50px;--column-gap:50px;}.elementor-48 .elementor-element.elementor-element-79065e8{--display:flex;--min-height:21vw;}.elementor-48 .elementor-element.elementor-element-8af548e{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:flex-end;--overflow:hidden;--border-radius:15px 15px 15px 15px;--padding-top:25px;--padding-bottom:25px;--padding-left:25px;--padding-right:25px;--position:absolute;top:0px;}.elementor-48 .elementor-element.elementor-element-8af548e:not(.elementor-motion-effects-element-type-background), .elementor-48 .elementor-element.elementor-element-8af548e > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("/wp-content/uploads/2024/05/Mask-Group-76.webp");background-position:center center;background-repeat:no-repeat;background-size:cover;}body:not(.rtl) .elementor-48 .elementor-element.elementor-element-8af548e{left:0px;}body.rtl .elementor-48 .elementor-element.elementor-element-8af548e{right:0px;}.elementor-48 .elementor-element.elementor-element-2e86a1b .elementor-heading-title{font-size:17px;font-weight:300;line-height:23px;color:var( --e-global-color-0a34aa2 );}.elementor-48 .elementor-element.elementor-element-2e86a1b{width:var( --container-widget-width, 270px );max-width:270px;--container-widget-width:270px;--container-widget-flex-grow:0;}.elementor-48 .elementor-element.elementor-element-db5ea8f{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:flex-end;--overflow:hidden;--border-radius:15px 15px 15px 15px;--padding-top:25px;--padding-bottom:25px;--padding-left:25px;--padding-right:25px;--position:absolute;top:0px;}.elementor-48 .elementor-element.elementor-element-db5ea8f:not(.elementor-motion-effects-element-type-background), .elementor-48 .elementor-element.elementor-element-db5ea8f > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("/wp-content/uploads/2024/05/Mask-Group-2.webp");background-position:center center;background-repeat:no-repeat;background-size:cover;}body:not(.rtl) .elementor-48 .elementor-element.elementor-element-db5ea8f{left:0px;}body.rtl .elementor-48 .elementor-element.elementor-element-db5ea8f{right:0px;}.elementor-48 .elementor-element.elementor-element-b1189c8 .elementor-heading-title{font-size:17px;font-weight:300;line-height:23px;color:var( --e-global-color-0a34aa2 );}.elementor-48 .elementor-element.elementor-element-b1189c8{width:var( --container-widget-width, 270px );max-width:270px;--container-widget-width:270px;--container-widget-flex-grow:0;}.elementor-48 .elementor-element.elementor-element-4b46704{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:flex-end;--overflow:hidden;--border-radius:15px 15px 15px 15px;--padding-top:25px;--padding-bottom:25px;--padding-left:25px;--padding-right:25px;--position:absolute;top:0px;}.elementor-48 .elementor-element.elementor-element-4b46704:not(.elementor-motion-effects-element-type-background), .elementor-48 .elementor-element.elementor-element-4b46704 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("/wp-content/uploads/2024/05/Mask-Group-79.webp");background-position:center center;background-repeat:no-repeat;background-size:cover;}body:not(.rtl) .elementor-48 .elementor-element.elementor-element-4b46704{left:0px;}body.rtl .elementor-48 .elementor-element.elementor-element-4b46704{right:0px;}.elementor-48 .elementor-element.elementor-element-d0d83c5 .elementor-heading-title{font-size:17px;font-weight:300;line-height:23px;color:var( --e-global-color-0a34aa2 );}.elementor-48 .elementor-element.elementor-element-d0d83c5{width:var( --container-widget-width, 270px );max-width:270px;--container-widget-width:270px;--container-widget-flex-grow:0;}.elementor-48 .elementor-element.elementor-element-637f21f{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:flex-end;--overflow:hidden;--border-radius:15px 15px 15px 15px;--padding-top:25px;--padding-bottom:25px;--padding-left:25px;--padding-right:25px;--position:absolute;top:0px;}.elementor-48 .elementor-element.elementor-element-637f21f:not(.elementor-motion-effects-element-type-background), .elementor-48 .elementor-element.elementor-element-637f21f > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("/wp-content/uploads/2024/05/Mask-Group-80.webp");background-position:top center;background-repeat:no-repeat;background-size:cover;}body:not(.rtl) .elementor-48 .elementor-element.elementor-element-637f21f{left:0px;}body.rtl .elementor-48 .elementor-element.elementor-element-637f21f{right:0px;}.elementor-48 .elementor-element.elementor-element-b248b60 .elementor-heading-title{font-size:17px;font-weight:300;line-height:23px;color:var( --e-global-color-0a34aa2 );}.elementor-48 .elementor-element.elementor-element-b248b60{width:var( --container-widget-width, 270px );max-width:270px;--container-widget-width:270px;--container-widget-flex-grow:0;}.elementor-48 .elementor-element.elementor-element-cbc009f{--display:flex;--justify-content:center;}.elementor-48 .elementor-element.elementor-element-e85c914 .elementor-nav-menu .elementor-item{font-family:"Atype Display", Sans-serif;font-size:clamp(2.875rem, 1.1571rem + 2.6816vw, 4.375rem);font-weight:400;text-transform:capitalize;line-height:1.065em;}.elementor-48 .elementor-element.elementor-element-e85c914 .elementor-nav-menu--main .elementor-item{color:#0E0F0C;fill:#0E0F0C;padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px;}.elementor-48 .elementor-element.elementor-element-e85c914{--e-nav-menu-horizontal-menu-item-margin:calc( 12px / 2 );}.elementor-48 .elementor-element.elementor-element-e85c914 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child){margin-bottom:12px;}.elementor-48 .elementor-element.elementor-element-54f250e{--display:flex;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:14px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-48 .elementor-element.elementor-element-1557148 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(65px/2);}.elementor-48 .elementor-element.elementor-element-1557148 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(65px/2);}.elementor-48 .elementor-element.elementor-element-1557148 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(65px/2);margin-left:calc(65px/2);}.elementor-48 .elementor-element.elementor-element-1557148 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-65px/2);margin-left:calc(-65px/2);}body.rtl .elementor-48 .elementor-element.elementor-element-1557148 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-65px/2);}body:not(.rtl) .elementor-48 .elementor-element.elementor-element-1557148 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-65px/2);}.elementor-48 .elementor-element.elementor-element-1557148 .elementor-icon-list-icon i{color:#0029214F;transition:color 0.3s;}.elementor-48 .elementor-element.elementor-element-1557148 .elementor-icon-list-icon svg{fill:#0029214F;transition:fill 0.3s;}.elementor-48 .elementor-element.elementor-element-1557148 .elementor-icon-list-item:hover .elementor-icon-list-icon i{color:var( --e-global-color-f66f709 );}.elementor-48 .elementor-element.elementor-element-1557148 .elementor-icon-list-item:hover .elementor-icon-list-icon svg{fill:var( --e-global-color-f66f709 );}.elementor-48 .elementor-element.elementor-element-1557148{--e-icon-list-icon-size:14px;--icon-vertical-offset:0px;}.elementor-48 .elementor-element.elementor-element-1557148 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-48 .elementor-element.elementor-element-1557148 .elementor-icon-list-item > a{font-family:"Atype Display", Sans-serif;font-size:15px;font-weight:400;line-height:13px;}.elementor-48 .elementor-element.elementor-element-1557148 .elementor-icon-list-text{color:#0029214F;transition:color 0.3s;}.elementor-48 .elementor-element.elementor-element-1557148 .elementor-icon-list-item:hover .elementor-icon-list-text{color:var( --e-global-color-f66f709 );}.elementor-48 .elementor-element.elementor-element-60825df .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(65px/2);}.elementor-48 .elementor-element.elementor-element-60825df .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(65px/2);}.elementor-48 .elementor-element.elementor-element-60825df .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(65px/2);margin-left:calc(65px/2);}.elementor-48 .elementor-element.elementor-element-60825df .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-65px/2);margin-left:calc(-65px/2);}body.rtl .elementor-48 .elementor-element.elementor-element-60825df .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-65px/2);}body:not(.rtl) .elementor-48 .elementor-element.elementor-element-60825df .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-65px/2);}.elementor-48 .elementor-element.elementor-element-60825df .elementor-icon-list-icon i{color:#0029214F;transition:color 0.3s;}.elementor-48 .elementor-element.elementor-element-60825df .elementor-icon-list-icon svg{fill:#0029214F;transition:fill 0.3s;}.elementor-48 .elementor-element.elementor-element-60825df .elementor-icon-list-item:hover .elementor-icon-list-icon i{color:var( --e-global-color-f66f709 );}.elementor-48 .elementor-element.elementor-element-60825df .elementor-icon-list-item:hover .elementor-icon-list-icon svg{fill:var( --e-global-color-f66f709 );}.elementor-48 .elementor-element.elementor-element-60825df{--e-icon-list-icon-size:14px;--icon-vertical-offset:0px;}.elementor-48 .elementor-element.elementor-element-60825df .elementor-icon-list-item > .elementor-icon-list-text, .elementor-48 .elementor-element.elementor-element-60825df .elementor-icon-list-item > a{font-family:"Atype Display", Sans-serif;font-size:15px;font-weight:400;line-height:13px;}.elementor-48 .elementor-element.elementor-element-60825df .elementor-icon-list-text{color:#0029214F;transition:color 0.3s;}.elementor-48 .elementor-element.elementor-element-60825df .elementor-icon-list-item:hover .elementor-icon-list-text{color:var( --e-global-color-f66f709 );}.elementor-theme-builder-content-area{height:400px;}.elementor-location-header:before, .elementor-location-footer:before{content:"";display:table;clear:both;}@media(max-width:1024px){.elementor-48 .elementor-element.elementor-element-1eea563 > .elementor-widget-container{margin:0px 0px 0px 20px;}.elementor-48 .elementor-element.elementor-element-1213d5c > .elementor-widget-container{margin:0px 0px 0px 20px;}.elementor-48 .elementor-element.elementor-element-7b28bcf{--gap:25px 25px;--row-gap:25px;--column-gap:25px;}.elementor-48 .elementor-element.elementor-element-e85c914 .elementor-nav-menu .elementor-item{font-size:40px;}.elementor-48 .elementor-element.elementor-element-54f250e{--padding-top:22px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-48 .elementor-element.elementor-element-1557148 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(40px/2);}.elementor-48 .elementor-element.elementor-element-1557148 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(40px/2);}.elementor-48 .elementor-element.elementor-element-1557148 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(40px/2);margin-left:calc(40px/2);}.elementor-48 .elementor-element.elementor-element-1557148 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-40px/2);margin-left:calc(-40px/2);}body.rtl .elementor-48 .elementor-element.elementor-element-1557148 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-40px/2);}body:not(.rtl) .elementor-48 .elementor-element.elementor-element-1557148 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-40px/2);}.elementor-48 .elementor-element.elementor-element-60825df .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(40px/2);}.elementor-48 .elementor-element.elementor-element-60825df .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(40px/2);}.elementor-48 .elementor-element.elementor-element-60825df .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(40px/2);margin-left:calc(40px/2);}.elementor-48 .elementor-element.elementor-element-60825df .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-40px/2);margin-left:calc(-40px/2);}body.rtl .elementor-48 .elementor-element.elementor-element-60825df .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-40px/2);}body:not(.rtl) .elementor-48 .elementor-element.elementor-element-60825df .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-40px/2);}}@media(min-width:768px){.elementor-48 .elementor-element.elementor-element-2f6d5fe{--content-width:100%;}.elementor-48 .elementor-element.elementor-element-cf3dcdf{--content-width:100%;}.elementor-48 .elementor-element.elementor-element-7ef43fd{--content-width:100%;}.elementor-48 .elementor-element.elementor-element-79065e8{--width:50%;}.elementor-48 .elementor-element.elementor-element-cbc009f{--width:50%;}}@media(max-width:767px){.elementor-48 .elementor-element.elementor-element-2f6d5fe{--padding-top:15px;--padding-bottom:0;--padding-left:20px;--padding-right:20px;}.elementor-48 .elementor-element.elementor-element-25f9e8e img{max-width:137px;}.elementor-48 .elementor-element.elementor-element-cf3dcdf{--padding-top:15px;--padding-bottom:0;--padding-left:20px;--padding-right:20px;}.elementor-48 .elementor-element.elementor-element-87d39bf img{max-width:137px;}.elementor-48 .elementor-element.elementor-element-7ef43fd{--padding-top:100px;--padding-bottom:30px;--padding-left:20px;--padding-right:20px;}.elementor-48 .elementor-element.elementor-element-7b28bcf{--gap:32px 32px;--row-gap:32px;--column-gap:32px;}.elementor-48 .elementor-element.elementor-element-79065e8{--min-height:57vw;}.elementor-48 .elementor-element.elementor-element-79065e8.e-con{--order:2;}.elementor-48 .elementor-element.elementor-element-cbc009f.e-con{--order:1;}.elementor-48 .elementor-element.elementor-element-e85c914{--e-nav-menu-horizontal-menu-item-margin:calc( 8px / 2 );}.elementor-48 .elementor-element.elementor-element-e85c914 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child){margin-bottom:8px;}.elementor-48 .elementor-element.elementor-element-54f250e{--padding-top:34px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-48 .elementor-element.elementor-element-60825df .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(25px/2);}.elementor-48 .elementor-element.elementor-element-60825df .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(25px/2);}.elementor-48 .elementor-element.elementor-element-60825df .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(25px/2);margin-left:calc(25px/2);}.elementor-48 .elementor-element.elementor-element-60825df .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-25px/2);margin-left:calc(-25px/2);}body.rtl .elementor-48 .elementor-element.elementor-element-60825df .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-25px/2);}body:not(.rtl) .elementor-48 .elementor-element.elementor-element-60825df .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-25px/2);}.elementor-48 .elementor-element.elementor-element-60825df .elementor-icon-list-item > .elementor-icon-list-text, .elementor-48 .elementor-element.elementor-element-60825df .elementor-icon-list-item > a{font-size:14px;}}/* Start custom CSS for heading, class: .elementor-element-034f1ed */.elementor-48 .elementor-element.elementor-element-034f1ed {
    margin-left: auto;
}

.elementor-48 .elementor-element.elementor-element-034f1ed:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #B9D0D0;
    bottom: -4px;
    left: 0;
    opacity: 0;
}

.elementor-48 .elementor-element.elementor-element-034f1ed.active:after , .elementor-48 .elementor-element.elementor-element-034f1ed:hover:after{
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for icon-list, class: .elementor-element-4417c22 */.elementor-48 .elementor-element.elementor-element-4417c22 {
    cursor: pointer;
}
.elementor-48 .elementor-element.elementor-element-4417c22 svg {
    height: auto !important;
    margin: 0 !important;
    display: none;
}

.elementor-48 .elementor-element.elementor-element-4417c22.active svg {
    display: inline-block;
}


.elementor-48 .elementor-element.elementor-element-4417c22.active .elementor-icon-list-text {
    display: none;
}
.elementor-48 .elementor-element.elementor-element-4417c22 .elementor-icon-list-text {
    padding: 0;
}


.elementor-48 .elementor-element.elementor-element-4417c22 svg path {
    color: #000 !important;
    stroke: #000 !important;
    fill : #000 !important;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-1eea563 */.elementor-48 .elementor-element.elementor-element-1eea563 .elementor-button-icon {
    transform: rotate(-45deg);
    transition: all .3s ease-in-out;
}

.elementor-48 .elementor-element.elementor-element-1eea563 .elementor-button-link:hover .elementor-button-icon {
    transform: rotate(0deg);
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-2f6d5fe */.elementor-48 .elementor-element.elementor-element-2f6d5fe {
    top: 0 !important;
    width: 100% !important;
}
.elementor-page-2774 .elementor-48 .elementor-element.elementor-element-2f6d5fe {
    opacity: 0 !important;
    /*height: 0 !important;*/
    pointer-events: none;
    display: none;
}


.elementor-page-2774 .elementor-48 .elementor-element.elementor-element-2f6d5fe.show {
    opacity: 1 !important;
    height: auto !important;
    pointer-events: all;
    display: flex;
}

.elementor-48 .elementor-element.elementor-element-2f6d5fe > div {
      transition: padding .3s ease-in-out;
}

.elementor-48 .elementor-element.elementor-element-2f6d5fe.elementor-sticky--effects > div {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-72da747 */.elementor-48 .elementor-element.elementor-element-72da747 {
    margin-left: auto;
}

.elementor-48 .elementor-element.elementor-element-72da747:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #B9D0D0;
    bottom: -4px;
    left: 0;
    opacity: 0;
}

.elementor-48 .elementor-element.elementor-element-72da747.active:after, .elementor-48 .elementor-element.elementor-element-72da747:hover:after {
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for icon-list, class: .elementor-element-5694b72 */.elementor-48 .elementor-element.elementor-element-5694b72 {
    cursor: pointer;
}
.elementor-48 .elementor-element.elementor-element-5694b72 svg {
    height: auto !important;
    margin: 0 !important;
    display: none;
}

.elementor-48 .elementor-element.elementor-element-5694b72.active svg {
    display: inline-block;
}


.elementor-48 .elementor-element.elementor-element-5694b72.active .elementor-icon-list-text {
    display: none;
}
.elementor-48 .elementor-element.elementor-element-5694b72 .elementor-icon-list-text {
    padding: 0;
}


.elementor-48 .elementor-element.elementor-element-5694b72 svg path {
    color: #fff !important;
    stroke: #fff !important;
    fill : #fff !important;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-1213d5c */.elementor-48 .elementor-element.elementor-element-1213d5c .elementor-button-icon {
    transform: rotate(-45deg);
    transition: all .3s ease-in-out;
}

.elementor-48 .elementor-element.elementor-element-1213d5c .elementor-button-link:hover .elementor-button-icon {
    transform: rotate(0deg);
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-72da747 */.elementor-48 .elementor-element.elementor-element-72da747 {
    margin-left: auto;
}

.elementor-48 .elementor-element.elementor-element-72da747:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #B9D0D0;
    bottom: -4px;
    left: 0;
    opacity: 0;
}

.elementor-48 .elementor-element.elementor-element-72da747.active:after, .elementor-48 .elementor-element.elementor-element-72da747:hover:after {
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for icon-list, class: .elementor-element-5694b72 */.elementor-48 .elementor-element.elementor-element-5694b72 {
    cursor: pointer;
}
.elementor-48 .elementor-element.elementor-element-5694b72 svg {
    height: auto !important;
    margin: 0 !important;
    display: none;
}

.elementor-48 .elementor-element.elementor-element-5694b72.active svg {
    display: inline-block;
}


.elementor-48 .elementor-element.elementor-element-5694b72.active .elementor-icon-list-text {
    display: none;
}
.elementor-48 .elementor-element.elementor-element-5694b72 .elementor-icon-list-text {
    padding: 0;
}


.elementor-48 .elementor-element.elementor-element-5694b72 svg path {
    color: #fff !important;
    stroke: #fff !important;
    fill : #fff !important;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-1213d5c */.elementor-48 .elementor-element.elementor-element-1213d5c .elementor-button-icon {
    transform: rotate(-45deg);
    transition: all .3s ease-in-out;
}

.elementor-48 .elementor-element.elementor-element-1213d5c .elementor-button-link:hover .elementor-button-icon {
    transform: rotate(0deg);
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-cf3dcdf */.elementor-48 .elementor-element.elementor-element-cf3dcdf {
    top: 0 !important;
    width: 100% !important;
}
.elementor-page-7 .elementor-48 .elementor-element.elementor-element-cf3dcdf.hide {
    opacity: 0 !important;
    /*height: 0 !important;*/
    pointer-events: none;
    display: none;
}


.elementor-48 .elementor-element.elementor-element-cf3dcdf > div {
      transition: padding .3s ease-in-out;
}


.elementor-48 .elementor-element.elementor-element-cf3dcdf.elementor-sticky--effects > div {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-8af548e */.elementor-48 .elementor-element.elementor-element-8af548e {
    height: 100%;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.elementor-48 .elementor-element.elementor-element-8af548e.show {
    opacity: 1;
}


.elementor-editor-active .elementor-48 .elementor-element.elementor-element-8af548e {
    opacity: 1;
    position: relative !important;
    min-height: 300px;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-db5ea8f */.elementor-48 .elementor-element.elementor-element-db5ea8f {
    height: 100%;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.elementor-48 .elementor-element.elementor-element-db5ea8f.show {
    opacity: 1;
}

.elementor-editor-active .elementor-48 .elementor-element.elementor-element-db5ea8f {
    opacity: 1;
    position: relative !important;
    min-height: 300px;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-4b46704 */.elementor-48 .elementor-element.elementor-element-4b46704 {
    height: 100%;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.elementor-48 .elementor-element.elementor-element-4b46704.show {
    opacity: 1;
}


.elementor-editor-active .elementor-48 .elementor-element.elementor-element-4b46704 {
    opacity: 1;
    position: relative !important;
    min-height: 300px;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-637f21f */.elementor-48 .elementor-element.elementor-element-637f21f {
    height: 100%;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.elementor-48 .elementor-element.elementor-element-637f21f.show {
    opacity: 1;
}



.elementor-editor-active .elementor-48 .elementor-element.elementor-element-637f21f {
    opacity: 1;
    position: relative !important;
    min-height: 300px;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-79065e8 */.elementor-48 .elementor-element.elementor-element-79065e8 {
    transition: none;
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-e85c914 */.elementor-48 .elementor-element.elementor-element-e85c914 .menuSmall > .elementor-item {
            font-size: 23px !important;
            /*padding-right:1.4em !important;*/
            min-width: 5.6em;
        }
        
        .elementor-48 .elementor-element.elementor-element-e85c914 .menuSmall {
            margin-top: 3vw;
        }
        
          .elementor-48 .elementor-element.elementor-element-e85c914 .menuSmall ~ .menuSmall {
            margin-top: 0;
        }
        
        @media (max-width: 767px) {
           .elementor-48 .elementor-element.elementor-element-e85c914 .menuSmall {
            margin-top: 6vw;
        }
        
          .elementor-48 .elementor-element.elementor-element-e85c914 .menuSmall ~ .menuSmall {
            margin-top: 0;
        }   
        }

.elementor-48 .elementor-element.elementor-element-e85c914 .menu-item > .elementor-item {
    position: relative !important;
}
.elementor-48 .elementor-element.elementor-element-e85c914 .menu-item > .elementor-item:before,
.elementor-48 .elementor-element.elementor-element-e85c914 .menu-item > .elementor-item:after {
    content: '';
    display: inline-block;

}

/*menu before circle */
.elementor-48 .elementor-element.elementor-element-e85c914 .menu-item > .elementor-item:before {
    width: .37em;
    height: .37em;
    background: #B9D0D0;
    border-radius: 50%;
    left: 0;
}


.elementor-48 .elementor-element.elementor-element-e85c914 .menu-item > .elementor-item:hover,
.elementor-48 .elementor-element.elementor-element-e85c914 .menu-item > .elementor-item.elementor-item-active{
    padding-left: 28px;
    padding-left: .609em;
}

/*menu after arrow svg */

.elementor-48 .elementor-element.elementor-element-e85c914 .menu-item > .elementor-item:after {
    width: 1em;
    height: 1em;
    background: url('/wp-content/uploads/2024/05/arrow-black-right.svg');
    opacity: 1 !important;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: rotate(-45deg);
}


.elementor-48 .elementor-element.elementor-element-e85c914 .menu-item > .elementor-item:hover:after,
.elementor-48 .elementor-element.elementor-element-e85c914 .menu-item > .elementor-item.elementor-item-active:after{

    transform: rotate(0deg);
}



 .elementor-48 .elementor-element.elementor-element-e85c914 .menuSmall  {
     display: flex;
 }/* End custom CSS */
/* Start custom CSS for icon-list, class: .elementor-element-1557148 */.elementor-48 .elementor-element.elementor-element-1557148 .elementor-icon-list-items {
    padding-top: 5px;
    padding-bottom: 5px;
}/* End custom CSS */
/* Start custom CSS for icon-list, class: .elementor-element-60825df */.elementor-48 .elementor-element.elementor-element-60825df .elementor-icon-list-items {
    padding-top: 5px;
    padding-bottom: 5px;
}


@media (max-width: 767px) {
.elementor-48 .elementor-element.elementor-element-60825df .elementor-icon-list-items {
    justify-content: center;
}    
}


@media (max-width: 467px) {
.elementor-48 .elementor-element.elementor-element-60825df .elementor-icon-list-items {
    justify-content: space-between;
}    
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-7ef43fd */.elementor-48 .elementor-element.elementor-element-7ef43fd {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 555;
    transition: transform .3s ease-in-out ;
    transform: translateY(-100%);
    max-height: 98vh;
    overflow-y: auto;
}


.elementor-48 .elementor-element.elementor-element-7ef43fd.show, .elementor-editor-active.elementor-page-48 .elementor-48 .elementor-element.elementor-element-7ef43fd {
    transform: translateY(0);
}


 .elementor-editor-active.elementor-page-48 .elementor-48 .elementor-element.elementor-element-7ef43fd {
    transform: translateY(0);
    top: initial;
}/* End custom CSS */