.elementor-804 .elementor-element.elementor-element-71ca69a{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--gap:40px 40px;--row-gap:40px;--column-gap:40px;--padding-top:120px;--padding-bottom:40px;--padding-left:50px;--padding-right:50px;}.elementor-804 .elementor-element.elementor-element-71ca69a:not(.elementor-motion-effects-element-type-background), .elementor-804 .elementor-element.elementor-element-71ca69a > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-0a34aa2 );}.elementor-804 .elementor-element.elementor-element-5b1cfdc{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:20px 20px;--row-gap:20px;--column-gap:20px;border-style:solid;--border-style:solid;border-width:0px 0px 1px 0px;--border-top-width:0px;--border-right-width:0px;--border-bottom-width:1px;--border-left-width:0px;border-color:#BEBEBE;--border-color:#BEBEBE;--padding-top:0px;--padding-bottom:151px;--padding-left:0px;--padding-right:0px;}.elementor-804 .elementor-element.elementor-element-ca7865c{--display:flex;--padding-top:0vw;--padding-bottom:0vw;--padding-left:0vw;--padding-right:0vw;}.elementor-804 .elementor-element.elementor-element-1338fc5{text-align:left;}.elementor-804 .elementor-element.elementor-element-1338fc5 img{width:100%;max-width:269px;}.elementor-804 .elementor-element.elementor-element-c62b8d4{--display:flex;}.elementor-804 .elementor-element.elementor-element-abf5934 .elementor-nav-menu .elementor-item{font-family:"DM Sans", Sans-serif;font-size:21px;font-weight:300;line-height:1em;}.elementor-804 .elementor-element.elementor-element-abf5934 .elementor-nav-menu--main .elementor-item{color:var( --e-global-color-f66f709 );fill:var( --e-global-color-f66f709 );padding-left:0px;padding-right:0px;padding-top:0px;padding-bottom:0px;}.elementor-804 .elementor-element.elementor-element-abf5934 .elementor-nav-menu--main .elementor-item:hover,
					.elementor-804 .elementor-element.elementor-element-abf5934 .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-804 .elementor-element.elementor-element-abf5934 .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-804 .elementor-element.elementor-element-abf5934 .elementor-nav-menu--main .elementor-item:focus{color:var( --e-global-color-739748a );fill:var( --e-global-color-739748a );}.elementor-804 .elementor-element.elementor-element-abf5934 .elementor-nav-menu--main .elementor-item.elementor-item-active{color:var( --e-global-color-739748a );}.elementor-804 .elementor-element.elementor-element-abf5934{--e-nav-menu-horizontal-menu-item-margin:calc( 14px / 2 );}.elementor-804 .elementor-element.elementor-element-abf5934 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child){margin-bottom:14px;}.elementor-804 .elementor-element.elementor-element-38ecd71{--display:flex;}.elementor-804 .elementor-element.elementor-element-8d34671 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(14px/2);}.elementor-804 .elementor-element.elementor-element-8d34671 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(14px/2);}.elementor-804 .elementor-element.elementor-element-8d34671 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(14px/2);margin-left:calc(14px/2);}.elementor-804 .elementor-element.elementor-element-8d34671 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-14px/2);margin-left:calc(-14px/2);}body.rtl .elementor-804 .elementor-element.elementor-element-8d34671 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-14px/2);}body:not(.rtl) .elementor-804 .elementor-element.elementor-element-8d34671 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-14px/2);}.elementor-804 .elementor-element.elementor-element-8d34671 .elementor-icon-list-icon i{transition:color 0.3s;}.elementor-804 .elementor-element.elementor-element-8d34671 .elementor-icon-list-icon svg{transition:fill 0.3s;}.elementor-804 .elementor-element.elementor-element-8d34671{--e-icon-list-icon-size:14px;--icon-vertical-offset:0px;}.elementor-804 .elementor-element.elementor-element-8d34671 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-804 .elementor-element.elementor-element-8d34671 .elementor-icon-list-item > a{font-family:"DM Sans", Sans-serif;font-size:21px;font-weight:300;line-height:1em;}.elementor-804 .elementor-element.elementor-element-8d34671 .elementor-icon-list-text{color:var( --e-global-color-f66f709 );transition:color 0.3s;}.elementor-804 .elementor-element.elementor-element-8d34671 .elementor-icon-list-item:hover .elementor-icon-list-text{color:var( --e-global-color-739748a );}.elementor-804 .elementor-element.elementor-element-9a2abee{--display:flex;--min-height:354px;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:space-between;--gap:20px 20px;--row-gap:20px;--column-gap:20px;--overflow:hidden;--border-radius:20px 20px 20px 20px;--padding-top:50px;--padding-bottom:50px;--padding-left:50px;--padding-right:50px;--z-index:0;}.elementor-804 .elementor-element.elementor-element-8970950 img{width:100%;height:100%;object-fit:cover;object-position:bottom center;}.elementor-804 .elementor-element.elementor-element-d0feae5 img{width:100%;height:100%;object-fit:cover;object-position:center center;}.elementor-804 .elementor-element.elementor-element-b4ce4ef .elementor-heading-title{font-family:"Atype Display", Sans-serif;font-size:27px;line-height:1.2em;color:var( --e-global-color-0a34aa2 );}.elementor-804 .elementor-element.elementor-element-6bb8286 .elementor-heading-title{font-family:"Atype Display", Sans-serif;font-size:67px;font-weight:400;line-height:1.2em;color:var( --e-global-color-0a34aa2 );}.elementor-804 .elementor-element.elementor-element-e26a90d > .elementor-widget-container{margin:-12px -12px 0px 0px;}.elementor-804 .elementor-element.elementor-element-e26a90d.elementor-element{--align-self:flex-end;}.elementor-804 .elementor-element.elementor-element-e26a90d .elementor-icon-wrapper{text-align:center;}.elementor-804 .elementor-element.elementor-element-e26a90d.elementor-view-stacked .elementor-icon{background-color:var( --e-global-color-0a34aa2 );}.elementor-804 .elementor-element.elementor-element-e26a90d.elementor-view-framed .elementor-icon, .elementor-804 .elementor-element.elementor-element-e26a90d.elementor-view-default .elementor-icon{color:var( --e-global-color-0a34aa2 );border-color:var( --e-global-color-0a34aa2 );}.elementor-804 .elementor-element.elementor-element-e26a90d.elementor-view-framed .elementor-icon, .elementor-804 .elementor-element.elementor-element-e26a90d.elementor-view-default .elementor-icon svg{fill:var( --e-global-color-0a34aa2 );}.elementor-804 .elementor-element.elementor-element-e26a90d .elementor-icon{font-size:75px;}.elementor-804 .elementor-element.elementor-element-e26a90d .elementor-icon svg{height:75px;}.elementor-804 .elementor-element.elementor-element-e26a90d .elementor-icon i, .elementor-804 .elementor-element.elementor-element-e26a90d .elementor-icon svg{transform:rotate(-45deg);}.elementor-804 .elementor-element.elementor-element-3168af9{--display:flex;--min-height:354px;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:space-between;--gap:20px 20px;--row-gap:20px;--column-gap:20px;--overflow:hidden;--border-radius:20px 20px 20px 20px;--padding-top:50px;--padding-bottom:50px;--padding-left:50px;--padding-right:50px;--z-index:0;}.elementor-804 .elementor-element.elementor-element-579e914 img{width:100%;height:100%;object-fit:cover;object-position:center center;}.elementor-804 .elementor-element.elementor-element-681f577 .elementor-heading-title{font-family:"Atype Display", Sans-serif;font-size:27px;line-height:1.2em;color:var( --e-global-color-0a34aa2 );}.elementor-804 .elementor-element.elementor-element-3b3290c .elementor-heading-title{font-family:"Atype Display", Sans-serif;font-size:67px;font-weight:400;line-height:1.19em;color:var( --e-global-color-0a34aa2 );}.elementor-804 .elementor-element.elementor-element-8c1127b > .elementor-widget-container{margin:-12px -12px 0px 0px;}.elementor-804 .elementor-element.elementor-element-8c1127b.elementor-element{--align-self:flex-end;}.elementor-804 .elementor-element.elementor-element-8c1127b .elementor-icon-wrapper{text-align:center;}.elementor-804 .elementor-element.elementor-element-8c1127b.elementor-view-stacked .elementor-icon{background-color:var( --e-global-color-0a34aa2 );}.elementor-804 .elementor-element.elementor-element-8c1127b.elementor-view-framed .elementor-icon, .elementor-804 .elementor-element.elementor-element-8c1127b.elementor-view-default .elementor-icon{color:var( --e-global-color-0a34aa2 );border-color:var( --e-global-color-0a34aa2 );}.elementor-804 .elementor-element.elementor-element-8c1127b.elementor-view-framed .elementor-icon, .elementor-804 .elementor-element.elementor-element-8c1127b.elementor-view-default .elementor-icon svg{fill:var( --e-global-color-0a34aa2 );}.elementor-804 .elementor-element.elementor-element-8c1127b .elementor-icon{font-size:75px;}.elementor-804 .elementor-element.elementor-element-8c1127b .elementor-icon svg{height:75px;}.elementor-804 .elementor-element.elementor-element-8c1127b .elementor-icon i, .elementor-804 .elementor-element.elementor-element-8c1127b .elementor-icon svg{transform:rotate(-45deg);}.elementor-804 .elementor-element.elementor-element-fc71793{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:space-between;--gap:20px 20px;--row-gap:20px;--column-gap:20px;--overflow:hidden;border-style:solid;--border-style:solid;border-width:1px 0px 0px 0px;--border-top-width:1px;--border-right-width:0px;--border-bottom-width:0px;--border-left-width:0px;border-color:#BEBEBE;--border-color:#BEBEBE;--border-radius:0px 0px 0px 0px;--padding-top:17px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-804 .elementor-element.elementor-element-850feff .elementor-heading-title{font-size:20px;font-weight:300;line-height:33px;color:var( --e-global-color-f66f709 );}.elementor-804 .elementor-element.elementor-element-16604db .elementor-heading-title{font-size:20px;font-weight:300;line-height:33px;color:var( --e-global-color-f66f709 );}.elementor-804 .elementor-element.elementor-element-4faa871 .elementor-heading-title{font-size:20px;font-weight:300;line-height:33px;color:var( --e-global-color-f66f709 );}.elementor-theme-builder-content-area{height:400px;}.elementor-location-header:before, .elementor-location-footer:before{content:"";display:table;clear:both;}@media(max-width:1024px){.elementor-804 .elementor-element.elementor-element-71ca69a{--padding-top:120px;--padding-bottom:20px;--padding-left:50px;--padding-right:50px;}.elementor-804 .elementor-element.elementor-element-5b1cfdc{--gap:0px 0px;--row-gap:0px;--column-gap:0px;--flex-wrap:wrap;--padding-top:0px;--padding-bottom:45px;--padding-left:0px;--padding-right:0px;}.elementor-804 .elementor-element.elementor-element-ca7865c{--padding-top:0px;--padding-bottom:50px;--padding-left:0px;--padding-right:0px;}.elementor-804 .elementor-element.elementor-element-8970950{z-index:-1;}.elementor-804 .elementor-element.elementor-element-8970950 img{width:100%;height:100%;object-fit:cover;}.elementor-804 .elementor-element.elementor-element-d0feae5{z-index:-1;}.elementor-804 .elementor-element.elementor-element-d0feae5 img{width:100%;height:100%;object-fit:cover;}.elementor-804 .elementor-element.elementor-element-b4ce4ef .elementor-heading-title{font-size:23px;}.elementor-804 .elementor-element.elementor-element-6bb8286 .elementor-heading-title{font-size:50px;}.elementor-804 .elementor-element.elementor-element-e26a90d .elementor-icon{font-size:60px;}.elementor-804 .elementor-element.elementor-element-e26a90d .elementor-icon svg{height:60px;}.elementor-804 .elementor-element.elementor-element-579e914{z-index:-1;}.elementor-804 .elementor-element.elementor-element-579e914 img{width:100%;height:100%;object-fit:cover;}.elementor-804 .elementor-element.elementor-element-681f577 .elementor-heading-title{font-size:23px;}.elementor-804 .elementor-element.elementor-element-3b3290c .elementor-heading-title{font-size:50px;}.elementor-804 .elementor-element.elementor-element-8c1127b .elementor-icon{font-size:60px;}.elementor-804 .elementor-element.elementor-element-8c1127b .elementor-icon svg{height:60px;}.elementor-804 .elementor-element.elementor-element-850feff .elementor-heading-title{font-size:16px;}.elementor-804 .elementor-element.elementor-element-16604db .elementor-heading-title{font-size:16px;}.elementor-804 .elementor-element.elementor-element-4faa871 .elementor-heading-title{font-size:16px;}}@media(max-width:767px){.elementor-804 .elementor-element.elementor-element-71ca69a{--gap:25px 25px;--row-gap:25px;--column-gap:25px;--padding-top:50px;--padding-bottom:10px;--padding-left:20px;--padding-right:20px;}.elementor-804 .elementor-element.elementor-element-5b1cfdc{--gap:0px 0px;--row-gap:0px;--column-gap:0px;--padding-top:0px;--padding-bottom:45px;--padding-left:0px;--padding-right:0px;}.elementor-804 .elementor-element.elementor-element-ca7865c{--width:100%;--padding-top:0px;--padding-bottom:58px;--padding-left:0px;--padding-right:0px;}.elementor-804 .elementor-element.elementor-element-1338fc5 img{max-width:137px;}.elementor-804 .elementor-element.elementor-element-c62b8d4{--width:50%;}.elementor-804 .elementor-element.elementor-element-38ecd71{--width:50%;}.elementor-804 .elementor-element.elementor-element-8970950 img{object-fit:cover;}.elementor-804 .elementor-element.elementor-element-d0feae5 img{object-fit:cover;}.elementor-804 .elementor-element.elementor-element-b4ce4ef.elementor-element{--order:99999 /* order end hack */;}.elementor-804 .elementor-element.elementor-element-b4ce4ef .elementor-heading-title{font-size:16px;}.elementor-804 .elementor-element.elementor-element-6bb8286 .elementor-heading-title{font-size:42px;}.elementor-804 .elementor-element.elementor-element-e26a90d.elementor-element{--align-self:flex-end;}.elementor-804 .elementor-element.elementor-element-e26a90d .elementor-icon{font-size:40px;}.elementor-804 .elementor-element.elementor-element-e26a90d .elementor-icon svg{height:40px;}.elementor-804 .elementor-element.elementor-element-9a2abee{--min-height:288px;--justify-content:flex-end;--gap:10px 10px;--row-gap:10px;--column-gap:10px;--padding-top:25px;--padding-bottom:25px;--padding-left:25px;--padding-right:25px;--z-index:0;}.elementor-804 .elementor-element.elementor-element-681f577.elementor-element{--order:99999 /* order end hack */;}.elementor-804 .elementor-element.elementor-element-681f577 .elementor-heading-title{font-size:16px;}.elementor-804 .elementor-element.elementor-element-3b3290c .elementor-heading-title{font-size:42px;}.elementor-804 .elementor-element.elementor-element-8c1127b.elementor-element{--align-self:flex-end;}.elementor-804 .elementor-element.elementor-element-8c1127b .elementor-icon{font-size:40px;}.elementor-804 .elementor-element.elementor-element-8c1127b .elementor-icon svg{height:40px;}.elementor-804 .elementor-element.elementor-element-3168af9{--min-height:288px;--justify-content:flex-end;--gap:10px 10px;--row-gap:10px;--column-gap:10px;--padding-top:25px;--padding-bottom:25px;--padding-left:25px;--padding-right:25px;--z-index:0;}.elementor-804 .elementor-element.elementor-element-fc71793{--justify-content:space-between;--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--gap:10px 10px;--row-gap:10px;--column-gap:10px;--padding-top:10px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}}@media(min-width:768px){.elementor-804 .elementor-element.elementor-element-5b1cfdc{--width:100%;}.elementor-804 .elementor-element.elementor-element-ca7865c{--width:50%;}.elementor-804 .elementor-element.elementor-element-c62b8d4{--width:50%;}.elementor-804 .elementor-element.elementor-element-38ecd71{--width:50%;}.elementor-804 .elementor-element.elementor-element-9a2abee{--width:100%;}.elementor-804 .elementor-element.elementor-element-3168af9{--width:100%;}.elementor-804 .elementor-element.elementor-element-fc71793{--width:100%;}}@media(max-width:1024px) and (min-width:768px){.elementor-804 .elementor-element.elementor-element-ca7865c{--width:100%;}.elementor-804 .elementor-element.elementor-element-c62b8d4{--width:50%;}.elementor-804 .elementor-element.elementor-element-38ecd71{--width:50%;}}/* Start custom CSS for image, class: .elementor-element-8970950 */.elementor-804 .elementor-element.elementor-element-8970950 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-d0feae5 */.elementor-804 .elementor-element.elementor-element-d0feae5 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
}/* End custom CSS */
/* Start custom CSS for icon, class: .elementor-element-e26a90d */.elementor-804 .elementor-element.elementor-element-e26a90d {
    position: absolute;
    top: 30px;
    right: 30px;
    
}

@media (max-width: 767px) {
 .elementor-804 .elementor-element.elementor-element-e26a90d {
    top: 25px;
    right: 25px;
    
}   
}
.elementor-804 .elementor-element.elementor-element-e26a90d .elementor-icon-wrapper {
    display: flex;
}
.elementor-804 .elementor-element.elementor-element-e26a90d svg {
    height: auto !important;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-8970950 */.elementor-804 .elementor-element.elementor-element-8970950 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-d0feae5 */.elementor-804 .elementor-element.elementor-element-d0feae5 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
}/* End custom CSS */
/* Start custom CSS for icon, class: .elementor-element-e26a90d */.elementor-804 .elementor-element.elementor-element-e26a90d {
    position: absolute;
    top: 30px;
    right: 30px;
    
}

@media (max-width: 767px) {
 .elementor-804 .elementor-element.elementor-element-e26a90d {
    top: 25px;
    right: 25px;
    
}   
}
.elementor-804 .elementor-element.elementor-element-e26a90d .elementor-icon-wrapper {
    display: flex;
}
.elementor-804 .elementor-element.elementor-element-e26a90d svg {
    height: auto !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-9a2abee */.elementor-804 .elementor-element.elementor-element-9a2abee {
    /*transition: all .5s ease-in-out;*/
}
.elementor-804 .elementor-element.elementor-element-9a2abee:hover .footer-icon {
       animation: topRight 1s ease-in-out infinite !important;
}
.elementor-804 .elementor-element.elementor-element-9a2abee .footer-bg {
    transition: transform .5s ease-in-out;
}

.elementor-804 .elementor-element.elementor-element-9a2abee:hover .footer-bg {
    /*background-size: 110% !important;*/
    
    transform: scale(1.03);
}

/*@media (max-width: 767px) {*/
/*    .elementor-804 .elementor-element.elementor-element-9a2abee:hover {*/
/*    background-size: 120vw !important;*/
/*}*/
/*}*//* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-579e914 */.elementor-804 .elementor-element.elementor-element-579e914 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
}/* End custom CSS */
/* Start custom CSS for icon, class: .elementor-element-8c1127b */.elementor-804 .elementor-element.elementor-element-8c1127b {
    position: absolute;
    top: 30px;
    right: 30px;
    
}

@media (max-width: 767px) {
 .elementor-804 .elementor-element.elementor-element-8c1127b {
    top: 25px;
    right: 25px;
    
}   
}
.elementor-804 .elementor-element.elementor-element-8c1127b .elementor-icon-wrapper {
    display: flex;
}
.elementor-804 .elementor-element.elementor-element-8c1127b svg {
    height: auto !important;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-579e914 */.elementor-804 .elementor-element.elementor-element-579e914 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
}/* End custom CSS */
/* Start custom CSS for icon, class: .elementor-element-8c1127b */.elementor-804 .elementor-element.elementor-element-8c1127b {
    position: absolute;
    top: 30px;
    right: 30px;
    
}

@media (max-width: 767px) {
 .elementor-804 .elementor-element.elementor-element-8c1127b {
    top: 25px;
    right: 25px;
    
}   
}
.elementor-804 .elementor-element.elementor-element-8c1127b .elementor-icon-wrapper {
    display: flex;
}
.elementor-804 .elementor-element.elementor-element-8c1127b svg {
    height: auto !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-3168af9 */.elementor-804 .elementor-element.elementor-element-3168af9 {
    /*transition: all .5s ease-in-out;*/
}
.elementor-804 .elementor-element.elementor-element-3168af9:hover .footer-icon {
       animation: topRight 1s ease-in-out infinite !important;
}
.elementor-804 .elementor-element.elementor-element-3168af9 .footer-bg {
    transition: transform .5s ease-in-out;
}

.elementor-804 .elementor-element.elementor-element-3168af9:hover .footer-bg {
    /*background-size: 110% !important;*/
    
    transform: scale(1.03);
}

/*@media (max-width: 767px) {*/
/*    .elementor-804 .elementor-element.elementor-element-3168af9:hover {*/
/*    background-size: 120vw !important;*/
/*}*/
/*}*//* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-850feff */.elementor-804 .elementor-element.elementor-element-850feff {
    opacity: .26;
    transition: all .3s ease-in-out;
}


.elementor-804 .elementor-element.elementor-element-850feff:hover {
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-16604db */.elementor-804 .elementor-element.elementor-element-16604db {
    opacity: .26;
    transition: all .3s ease-in-out;
}


.elementor-804 .elementor-element.elementor-element-16604db:hover {
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-4faa871 */.elementor-804 .elementor-element.elementor-element-4faa871 {
    opacity: .26;
    transition: all .3s ease-in-out;
}


.elementor-804 .elementor-element.elementor-element-4faa871:hover {
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-fc71793 */.elementor-804 .elementor-element.elementor-element-fc71793 {
    transition: all .5s ease-in-out;
}
.elementor-804 .elementor-element.elementor-element-fc71793:hover .footer-icon {
       animation: slide2 1s ease-in-out infinite;
}


.elementor-804 .elementor-element.elementor-element-fc71793:hover {
    background-size: 110% !important;
}

@media (max-width: 767px) {
    .elementor-804 .elementor-element.elementor-element-fc71793:hover {
    background-size: 120vw !important;
}
}/* End custom CSS */