.elementor-1708 .elementor-element.elementor-element-2ca366d{--display:flex;--min-height:41vh;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;}.elementor-1708 .elementor-element.elementor-element-49af93d{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:74px 74px;--row-gap:74px;--column-gap:74px;--overflow:hidden;--padding-top:0px;--padding-bottom:0px;--padding-left:50px;--padding-right:50px;}.elementor-1708 .elementor-element.elementor-element-03e9c68{--display:flex;--min-height:100vh;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;}.elementor-1708 .elementor-element.elementor-element-a8d50f3{--display:flex;--min-height:100vh;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;}.elementor-1708 .elementor-element.elementor-element-10845f9 .elementor-wrapper{--video-aspect-ratio:1;}.elementor-1708 .elementor-element.elementor-element-505218c{--display:flex;--min-height:100vh;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;}.elementor-1708 .elementor-element.elementor-element-1cee14d .elementor-wrapper{--video-aspect-ratio:1;}.elementor-1708 .elementor-element.elementor-element-c78a7cb{--display:flex;--min-height:100vh;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;}.elementor-1708 .elementor-element.elementor-element-88c7239 .elementor-wrapper{--video-aspect-ratio:1;}.elementor-1708 .elementor-element.elementor-element-17aad27{--display:flex;}.elementor-1708 .elementor-element.elementor-element-e7bd406{--display:flex;--min-height:100vh;}.elementor-1708 .elementor-element.elementor-element-60d48e7{--display:flex;--min-height:100vh;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--gap:50px 50px;--row-gap:50px;--column-gap:50px;}.elementor-1708 .elementor-element.elementor-element-9ddb2d7{--display:flex;}.elementor-1708 .elementor-element.elementor-element-9965f4d > .elementor-widget-container{margin:0px 0px 5px 0px;}.elementor-1708 .elementor-element.elementor-element-9965f4d .elementor-heading-title{font-family:var( --e-global-typography-3b2b59f-font-family ), Sans-serif;font-size:var( --e-global-typography-3b2b59f-font-size );font-weight:var( --e-global-typography-3b2b59f-font-weight );line-height:var( --e-global-typography-3b2b59f-line-height );color:var( --e-global-color-ed44115 );}.elementor-1708 .elementor-element.elementor-element-83d80d3{width:var( --container-widget-width, 502px );max-width:502px;--container-widget-width:502px;--container-widget-flex-grow:0;font-family:var( --e-global-typography-3b2b59f-font-family ), Sans-serif;font-size:var( --e-global-typography-3b2b59f-font-size );font-weight:var( --e-global-typography-3b2b59f-font-weight );line-height:var( --e-global-typography-3b2b59f-line-height );color:#AAAAAA;}.elementor-1708 .elementor-element.elementor-element-b007bb3{--display:flex;--min-height:100vh;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--gap:50px 50px;--row-gap:50px;--column-gap:50px;}.elementor-1708 .elementor-element.elementor-element-66fe8f1{--display:flex;}.elementor-1708 .elementor-element.elementor-element-e0d5926 > .elementor-widget-container{margin:0px 0px 5px 0px;}.elementor-1708 .elementor-element.elementor-element-e0d5926 .elementor-heading-title{font-family:var( --e-global-typography-3b2b59f-font-family ), Sans-serif;font-size:var( --e-global-typography-3b2b59f-font-size );font-weight:var( --e-global-typography-3b2b59f-font-weight );line-height:var( --e-global-typography-3b2b59f-line-height );color:var( --e-global-color-ed44115 );}.elementor-1708 .elementor-element.elementor-element-fb54baf{width:var( --container-widget-width, 502px );max-width:502px;--container-widget-width:502px;--container-widget-flex-grow:0;font-family:var( --e-global-typography-3b2b59f-font-family ), Sans-serif;font-size:var( --e-global-typography-3b2b59f-font-size );font-weight:var( --e-global-typography-3b2b59f-font-weight );line-height:var( --e-global-typography-3b2b59f-line-height );color:#AAAAAA;}.elementor-1708 .elementor-element.elementor-element-7a8410b{--display:flex;--min-height:100vh;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--gap:50px 50px;--row-gap:50px;--column-gap:50px;}.elementor-1708 .elementor-element.elementor-element-e3194c8{--display:flex;}.elementor-1708 .elementor-element.elementor-element-b4b53e5 > .elementor-widget-container{margin:0px 0px 5px 0px;}.elementor-1708 .elementor-element.elementor-element-b4b53e5 .elementor-heading-title{font-family:var( --e-global-typography-3b2b59f-font-family ), Sans-serif;font-size:var( --e-global-typography-3b2b59f-font-size );font-weight:var( --e-global-typography-3b2b59f-font-weight );line-height:var( --e-global-typography-3b2b59f-line-height );color:var( --e-global-color-ed44115 );}.elementor-1708 .elementor-element.elementor-element-5581540{width:var( --container-widget-width, 502px );max-width:502px;--container-widget-width:502px;--container-widget-flex-grow:0;font-family:var( --e-global-typography-3b2b59f-font-family ), Sans-serif;font-size:var( --e-global-typography-3b2b59f-font-size );font-weight:var( --e-global-typography-3b2b59f-font-weight );line-height:var( --e-global-typography-3b2b59f-line-height );color:#AAAAAA;}.elementor-1708 .elementor-element.elementor-element-516dc29{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--overflow:hidden;}.elementor-1708 .elementor-element.elementor-element-516dc29:not(.elementor-motion-effects-element-type-background), .elementor-1708 .elementor-element.elementor-element-516dc29 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FCFFD2;}.elementor-1708 .elementor-element.elementor-element-f8f5fe1{--display:flex;--min-height:100vh;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:center;--align-items:center;--padding-top:50px;--padding-bottom:50px;--padding-left:50px;--padding-right:50px;}.elementor-1708 .elementor-element.elementor-element-a21dee1{--display:flex;--min-height:100vh;}.elementor-1708 .elementor-element.elementor-element-fa74e54{--display:flex;--min-height:100vh;}.elementor-1708 .elementor-element.elementor-element-1fc3f28{--display:flex;--min-height:100vh;}.elementor-1708 .elementor-element.elementor-element-e58c520 img{width:100%;height:100%;object-fit:cover;object-position:center center;}.elementor-1708 .elementor-element.elementor-element-47c4517{--display:flex;--min-height:100vh;}.elementor-1708 .elementor-element.elementor-element-b9fdb03 img{width:100%;height:100%;object-fit:cover;object-position:center center;}.elementor-1708 .elementor-element.elementor-element-520d595{--display:flex;--min-height:100vh;}.elementor-1708 .elementor-element.elementor-element-e9c1f20 img{width:100%;height:100%;object-fit:cover;object-position:center center;}.elementor-1708 .elementor-element.elementor-element-0b03416{--display:flex;--padding-top:30vh;--padding-bottom:30vh;--padding-left:50px;--padding-right:50px;}.elementor-1708 .elementor-element.elementor-element-8f6072d{--display:flex;}.elementor-1708 .elementor-element.elementor-element-f49192e{--display:flex;}.elementor-1708 .elementor-element.elementor-element-8d3e03e{--display:flex;--min-height:100vh;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--gap:50px 50px;--row-gap:50px;--column-gap:50px;}.elementor-1708 .elementor-element.elementor-element-0ab26ee{--display:flex;}.elementor-1708 .elementor-element.elementor-element-6b8e0dd > .elementor-widget-container{margin:0px 0px 5px 0px;}.elementor-1708 .elementor-element.elementor-element-6b8e0dd .elementor-heading-title{font-family:var( --e-global-typography-3b2b59f-font-family ), Sans-serif;font-size:var( --e-global-typography-3b2b59f-font-size );font-weight:var( --e-global-typography-3b2b59f-font-weight );line-height:var( --e-global-typography-3b2b59f-line-height );color:var( --e-global-color-ed44115 );}.elementor-1708 .elementor-element.elementor-element-3b949cb{width:var( --container-widget-width, 502px );max-width:502px;--container-widget-width:502px;--container-widget-flex-grow:0;font-family:var( --e-global-typography-3b2b59f-font-family ), Sans-serif;font-size:var( --e-global-typography-3b2b59f-font-size );font-weight:var( --e-global-typography-3b2b59f-font-weight );line-height:var( --e-global-typography-3b2b59f-line-height );color:#AAAAAA;}.elementor-1708 .elementor-element.elementor-element-fdef5d5{--display:flex;--min-height:100vh;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--gap:50px 50px;--row-gap:50px;--column-gap:50px;}.elementor-1708 .elementor-element.elementor-element-7a82597{--display:flex;}.elementor-1708 .elementor-element.elementor-element-46e0318 > .elementor-widget-container{margin:0px 0px 5px 0px;}.elementor-1708 .elementor-element.elementor-element-46e0318 .elementor-heading-title{font-family:var( --e-global-typography-3b2b59f-font-family ), Sans-serif;font-size:var( --e-global-typography-3b2b59f-font-size );font-weight:var( --e-global-typography-3b2b59f-font-weight );line-height:var( --e-global-typography-3b2b59f-line-height );color:var( --e-global-color-ed44115 );}.elementor-1708 .elementor-element.elementor-element-ca58cbe{width:var( --container-widget-width, 502px );max-width:502px;--container-widget-width:502px;--container-widget-flex-grow:0;font-family:var( --e-global-typography-3b2b59f-font-family ), Sans-serif;font-size:var( --e-global-typography-3b2b59f-font-size );font-weight:var( --e-global-typography-3b2b59f-font-weight );line-height:var( --e-global-typography-3b2b59f-line-height );color:#AAAAAA;}.elementor-1708 .elementor-element.elementor-element-99d7ee2{--display:flex;--min-height:100vh;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--gap:50px 50px;--row-gap:50px;--column-gap:50px;}.elementor-1708 .elementor-element.elementor-element-c73b172{--display:flex;}.elementor-1708 .elementor-element.elementor-element-1eb9ec8 > .elementor-widget-container{margin:0px 0px 5px 0px;}.elementor-1708 .elementor-element.elementor-element-1eb9ec8 .elementor-heading-title{font-family:var( --e-global-typography-3b2b59f-font-family ), Sans-serif;font-size:var( --e-global-typography-3b2b59f-font-size );font-weight:var( --e-global-typography-3b2b59f-font-weight );line-height:var( --e-global-typography-3b2b59f-line-height );color:var( --e-global-color-ed44115 );}.elementor-1708 .elementor-element.elementor-element-a7ae90f{width:var( --container-widget-width, 502px );max-width:502px;--container-widget-width:502px;--container-widget-flex-grow:0;font-family:var( --e-global-typography-3b2b59f-font-family ), Sans-serif;font-size:var( --e-global-typography-3b2b59f-font-size );font-weight:var( --e-global-typography-3b2b59f-font-weight );line-height:var( --e-global-typography-3b2b59f-line-height );color:#AAAAAA;}.elementor-1708 .elementor-element.elementor-element-5d7daf3{--display:flex;--min-height:41vh;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;}@media(min-width:768px){.elementor-1708 .elementor-element.elementor-element-a21dee1{--width:50%;}}@media(max-width:1024px){.elementor-1708 .elementor-element.elementor-element-9965f4d .elementor-heading-title{font-size:var( --e-global-typography-3b2b59f-font-size );line-height:var( --e-global-typography-3b2b59f-line-height );}.elementor-1708 .elementor-element.elementor-element-83d80d3{font-size:var( --e-global-typography-3b2b59f-font-size );line-height:var( --e-global-typography-3b2b59f-line-height );}.elementor-1708 .elementor-element.elementor-element-e0d5926 .elementor-heading-title{font-size:var( --e-global-typography-3b2b59f-font-size );line-height:var( --e-global-typography-3b2b59f-line-height );}.elementor-1708 .elementor-element.elementor-element-fb54baf{font-size:var( --e-global-typography-3b2b59f-font-size );line-height:var( --e-global-typography-3b2b59f-line-height );}.elementor-1708 .elementor-element.elementor-element-b4b53e5 .elementor-heading-title{font-size:var( --e-global-typography-3b2b59f-font-size );line-height:var( --e-global-typography-3b2b59f-line-height );}.elementor-1708 .elementor-element.elementor-element-5581540{font-size:var( --e-global-typography-3b2b59f-font-size );line-height:var( --e-global-typography-3b2b59f-line-height );}.elementor-1708 .elementor-element.elementor-element-6b8e0dd .elementor-heading-title{font-size:var( --e-global-typography-3b2b59f-font-size );line-height:var( --e-global-typography-3b2b59f-line-height );}.elementor-1708 .elementor-element.elementor-element-3b949cb{font-size:var( --e-global-typography-3b2b59f-font-size );line-height:var( --e-global-typography-3b2b59f-line-height );}.elementor-1708 .elementor-element.elementor-element-46e0318 .elementor-heading-title{font-size:var( --e-global-typography-3b2b59f-font-size );line-height:var( --e-global-typography-3b2b59f-line-height );}.elementor-1708 .elementor-element.elementor-element-ca58cbe{font-size:var( --e-global-typography-3b2b59f-font-size );line-height:var( --e-global-typography-3b2b59f-line-height );}.elementor-1708 .elementor-element.elementor-element-1eb9ec8 .elementor-heading-title{font-size:var( --e-global-typography-3b2b59f-font-size );line-height:var( --e-global-typography-3b2b59f-line-height );}.elementor-1708 .elementor-element.elementor-element-a7ae90f{font-size:var( --e-global-typography-3b2b59f-font-size );line-height:var( --e-global-typography-3b2b59f-line-height );}}@media(max-width:767px){.elementor-1708 .elementor-element.elementor-element-9965f4d .elementor-heading-title{font-size:var( --e-global-typography-3b2b59f-font-size );line-height:var( --e-global-typography-3b2b59f-line-height );}.elementor-1708 .elementor-element.elementor-element-83d80d3{font-size:var( --e-global-typography-3b2b59f-font-size );line-height:var( --e-global-typography-3b2b59f-line-height );}.elementor-1708 .elementor-element.elementor-element-e0d5926 .elementor-heading-title{font-size:var( --e-global-typography-3b2b59f-font-size );line-height:var( --e-global-typography-3b2b59f-line-height );}.elementor-1708 .elementor-element.elementor-element-fb54baf{font-size:var( --e-global-typography-3b2b59f-font-size );line-height:var( --e-global-typography-3b2b59f-line-height );}.elementor-1708 .elementor-element.elementor-element-b4b53e5 .elementor-heading-title{font-size:var( --e-global-typography-3b2b59f-font-size );line-height:var( --e-global-typography-3b2b59f-line-height );}.elementor-1708 .elementor-element.elementor-element-5581540{font-size:var( --e-global-typography-3b2b59f-font-size );line-height:var( --e-global-typography-3b2b59f-line-height );}.elementor-1708 .elementor-element.elementor-element-6b8e0dd .elementor-heading-title{font-size:var( --e-global-typography-3b2b59f-font-size );line-height:var( --e-global-typography-3b2b59f-line-height );}.elementor-1708 .elementor-element.elementor-element-3b949cb{font-size:var( --e-global-typography-3b2b59f-font-size );line-height:var( --e-global-typography-3b2b59f-line-height );}.elementor-1708 .elementor-element.elementor-element-46e0318 .elementor-heading-title{font-size:var( --e-global-typography-3b2b59f-font-size );line-height:var( --e-global-typography-3b2b59f-line-height );}.elementor-1708 .elementor-element.elementor-element-ca58cbe{font-size:var( --e-global-typography-3b2b59f-font-size );line-height:var( --e-global-typography-3b2b59f-line-height );}.elementor-1708 .elementor-element.elementor-element-1eb9ec8 .elementor-heading-title{font-size:var( --e-global-typography-3b2b59f-font-size );line-height:var( --e-global-typography-3b2b59f-line-height );}.elementor-1708 .elementor-element.elementor-element-a7ae90f{font-size:var( --e-global-typography-3b2b59f-font-size );line-height:var( --e-global-typography-3b2b59f-line-height );}}/* Start custom CSS for video, class: .elementor-element-10845f9 *//*.elementor-1708 .elementor-element.elementor-element-10845f9 {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    z-index: -1;*/
/*}*/


.elementor-1708 .elementor-element.elementor-element-10845f9 .elementor-wrapper {
    width: 100%;
    height: 100%;
 
    
}


.elementor-1708 .elementor-element.elementor-element-10845f9 video {
    width: 100%;
    height: 100%;
    /*object-fit: contain !important;*/
    background: transparent;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-a8d50f3 */.elementor-1708 .elementor-element.elementor-element-a8d50f3 {

    opacity: 0;
    transition: opacity .3s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    
    
}


.elementor-1708 .elementor-element.elementor-element-a8d50f3.is-active {

    opacity: 1;

}

.elementor-editor-active .elementor-1708 .elementor-element.elementor-element-a8d50f3 {
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for video, class: .elementor-element-1cee14d *//*.elementor-1708 .elementor-element.elementor-element-1cee14d {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    z-index: -1;*/
/*}*/


.elementor-1708 .elementor-element.elementor-element-1cee14d .elementor-wrapper {
    width: 100%;
    height: 100%;
 
    
}


.elementor-1708 .elementor-element.elementor-element-1cee14d video {
    width: 100%;
    height: 100%;
    /*object-fit: contain !important;*/
    background: transparent;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-505218c */.elementor-1708 .elementor-element.elementor-element-505218c {

    opacity: 0;
    transition: opacity .3s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    
    
}


.elementor-1708 .elementor-element.elementor-element-505218c.is-active {

    opacity: 1;

}

.elementor-editor-active .elementor-1708 .elementor-element.elementor-element-505218c {
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for video, class: .elementor-element-88c7239 *//*.elementor-1708 .elementor-element.elementor-element-88c7239 {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    z-index: -1;*/
/*}*/


.elementor-1708 .elementor-element.elementor-element-88c7239 .elementor-wrapper {
    width: 100%;
    height: 100%;
 
    
}


.elementor-1708 .elementor-element.elementor-element-88c7239 video {
    width: 100%;
    height: 100%;
    /*object-fit: contain !important;*/
    background: transparent;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-c78a7cb */.elementor-1708 .elementor-element.elementor-element-c78a7cb {

    opacity: 0;
    transition: opacity .3s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    
    
}


.elementor-1708 .elementor-element.elementor-element-c78a7cb.is-active {

    opacity: 1;

}

.elementor-editor-active .elementor-1708 .elementor-element.elementor-element-c78a7cb {
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-03e9c68 *//*.elementor-1708 .elementor-element.elementor-element-03e9c68 {*/
/*    position: sticky;*/
/*    top: 0;*/
    
/*}*//* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-60d48e7 */.elementor-1708 .elementor-element.elementor-element-60d48e7 {
    opacity: .2;
    
    transition: opacity .3s ease-in-out;
}

.elementor-1708 .elementor-element.elementor-element-60d48e7.is-active {
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-b007bb3 */.elementor-1708 .elementor-element.elementor-element-b007bb3 {
    opacity: .2;
    
    transition: opacity .3s ease-in-out;
}

.elementor-1708 .elementor-element.elementor-element-b007bb3.is-active {
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-7a8410b */.elementor-1708 .elementor-element.elementor-element-7a8410b {
    opacity: .2;
    
    transition: opacity .3s ease-in-out;
}

.elementor-1708 .elementor-element.elementor-element-7a8410b.is-active {
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-e58c520 */.elementor-1708 .elementor-element.elementor-element-e58c520 {
    width: 100%;
    height: 100%;
}

.elementor-1708 .elementor-element.elementor-element-e58c520 .elementor-widget-container {
    width: 100%;
    height: 100%;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-1fc3f28 */.elementor-1708 .elementor-element.elementor-element-1fc3f28 {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}


.elementor-1708 .elementor-element.elementor-element-1fc3f28.is-active {
    width: 100%;
    height: 100%;
    opacity: 1;

}

.elementor-editor-active .elementor-1708 .elementor-element.elementor-element-1fc3f28 {
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-b9fdb03 */.elementor-1708 .elementor-element.elementor-element-b9fdb03 {
    width: 100%;
    height: 100%;
}

.elementor-1708 .elementor-element.elementor-element-b9fdb03 .elementor-widget-container {
    width: 100%;
    height: 100%;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-47c4517 */.elementor-1708 .elementor-element.elementor-element-47c4517 {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}


.elementor-1708 .elementor-element.elementor-element-47c4517.is-active {
    width: 100%;
    height: 100%;
    opacity: 1;

}

.elementor-editor-active .elementor-1708 .elementor-element.elementor-element-47c4517 {
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-e9c1f20 */.elementor-1708 .elementor-element.elementor-element-e9c1f20 {
    width: 100%;
    height: 100%;
}

.elementor-1708 .elementor-element.elementor-element-e9c1f20 .elementor-widget-container {
    width: 100%;
    height: 100%;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-520d595 */.elementor-1708 .elementor-element.elementor-element-520d595 {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}


.elementor-1708 .elementor-element.elementor-element-520d595.is-active {
    width: 100%;
    height: 100%;
    opacity: 1;

}

.elementor-editor-active .elementor-1708 .elementor-element.elementor-element-520d595 {
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-fa74e54 */.elementor-1708 .elementor-element.elementor-element-fa74e54 {
    position: relative;
    width: 100%;
    height: 100%
    ;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-a21dee1 */.elementor-1708 .elementor-element.elementor-element-a21dee1 {
    height: 40vh;
    max-height: 100%;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-f8f5fe1 *//*.elementor-1708 .elementor-element.elementor-element-f8f5fe1 {*/
/*    position: sticky;*/
/*    top: 0;*/
    
/*}*//* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-8d3e03e */.elementor-1708 .elementor-element.elementor-element-8d3e03e {
    opacity: .2;
    
    transition: opacity .3s ease-in-out;
}

.elementor-1708 .elementor-element.elementor-element-8d3e03e.is-active {
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-fdef5d5 */.elementor-1708 .elementor-element.elementor-element-fdef5d5 {
    opacity: .2;
    
    transition: opacity .3s ease-in-out;
}

.elementor-1708 .elementor-element.elementor-element-fdef5d5.is-active {
    opacity: 1;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-99d7ee2 */.elementor-1708 .elementor-element.elementor-element-99d7ee2 {
    opacity: .2;
    
    transition: opacity .3s ease-in-out;
}

.elementor-1708 .elementor-element.elementor-element-99d7ee2.is-active {
    opacity: 1;
}/* End custom CSS */