.elementor-2137 .elementor-element.elementor-element-3e8e419{--display:flex;--min-height:30.93vw;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--justify-content:space-between;--overflow:hidden;--border-radius:25px 25px 25px 25px;--padding-top:2.34vw;--padding-bottom:2.34vw;--padding-left:2.34vw;--padding-right:2.34vw;}.elementor-2137 .elementor-element.elementor-element-acd0761{--lottie-container-width:100%;}.elementor-2137 .elementor-element.elementor-element-2937484 > .elementor-widget-container{margin:-12px -12px 0px 0px;}.elementor-2137 .elementor-element.elementor-element-2937484.elementor-element{--align-self:flex-end;}.elementor-2137 .elementor-element.elementor-element-2937484 .elementor-icon-wrapper{text-align:center;}.elementor-2137 .elementor-element.elementor-element-2937484.elementor-view-stacked .elementor-icon{background-color:var( --e-global-color-f66f709 );}.elementor-2137 .elementor-element.elementor-element-2937484.elementor-view-framed .elementor-icon, .elementor-2137 .elementor-element.elementor-element-2937484.elementor-view-default .elementor-icon{color:var( --e-global-color-f66f709 );border-color:var( --e-global-color-f66f709 );}.elementor-2137 .elementor-element.elementor-element-2937484.elementor-view-framed .elementor-icon, .elementor-2137 .elementor-element.elementor-element-2937484.elementor-view-default .elementor-icon svg{fill:var( --e-global-color-f66f709 );}.elementor-2137 .elementor-element.elementor-element-2937484 .elementor-icon{font-size:6.2vw;}.elementor-2137 .elementor-element.elementor-element-2937484 .elementor-icon svg{height:6.2vw;}.elementor-2137 .elementor-element.elementor-element-2937484 .elementor-icon i, .elementor-2137 .elementor-element.elementor-element-2937484 .elementor-icon svg{transform:rotate(-45deg);}.elementor-2137 .elementor-element.elementor-element-eaeb4c1 > .elementor-widget-container{margin:-12px -12px 0px 0px;}.elementor-2137 .elementor-element.elementor-element-eaeb4c1.elementor-element{--align-self:flex-end;}.elementor-2137 .elementor-element.elementor-element-eaeb4c1 .elementor-icon-wrapper{text-align:center;}.elementor-2137 .elementor-element.elementor-element-eaeb4c1.elementor-view-stacked .elementor-icon{background-color:var( --e-global-color-0a34aa2 );}.elementor-2137 .elementor-element.elementor-element-eaeb4c1.elementor-view-framed .elementor-icon, .elementor-2137 .elementor-element.elementor-element-eaeb4c1.elementor-view-default .elementor-icon{color:var( --e-global-color-0a34aa2 );border-color:var( --e-global-color-0a34aa2 );}.elementor-2137 .elementor-element.elementor-element-eaeb4c1.elementor-view-framed .elementor-icon, .elementor-2137 .elementor-element.elementor-element-eaeb4c1.elementor-view-default .elementor-icon svg{fill:var( --e-global-color-0a34aa2 );}.elementor-2137 .elementor-element.elementor-element-eaeb4c1 .elementor-icon{font-size:6.2vw;}.elementor-2137 .elementor-element.elementor-element-eaeb4c1 .elementor-icon svg{height:6.2vw;}.elementor-2137 .elementor-element.elementor-element-eaeb4c1 .elementor-icon i, .elementor-2137 .elementor-element.elementor-element-eaeb4c1 .elementor-icon svg{transform:rotate(-45deg);}.elementor-2137 .elementor-element.elementor-element-ae31257{--display:flex;--overflow:hidden;}.elementor-2137 .elementor-element.elementor-element-cb94cc9{width:var( --container-widget-width, 73% );max-width:73%;--container-widget-width:73%;--container-widget-flex-grow:0;}.elementor-2137 .elementor-element.elementor-element-cb94cc9 > .elementor-widget-container{margin:0vw 0vw 0.8vw 0vw;}.elementor-2137 .elementor-element.elementor-element-cb94cc9 .elementor-heading-title{font-family:"Atype Display", Sans-serif;font-size:2.3vw;font-weight:400;line-height:1.1em;color:var( --e-global-color-f66f709 );}.elementor-2137 .elementor-element.elementor-element-d311456{width:var( --container-widget-width, 73% );max-width:73%;--container-widget-width:73%;--container-widget-flex-grow:0;font-size:1.25vw;font-weight:300;line-height:1.375em;color:var( --e-global-color-f66f709 );}.elementor-2137 .elementor-element.elementor-element-b33b868{--display:flex;--overflow:hidden;}.elementor-2137 .elementor-element.elementor-element-a86685c{width:var( --container-widget-width, 17vw );max-width:17vw;--container-widget-width:17vw;--container-widget-flex-grow:0;}.elementor-2137 .elementor-element.elementor-element-a86685c > .elementor-widget-container{margin:0px 0px 10px 0px;}.elementor-2137 .elementor-element.elementor-element-a86685c .elementor-heading-title{font-family:"Atype Display", Sans-serif;font-size:2.3vw;font-weight:400;line-height:1.1em;color:var( --e-global-color-e7eca4f );}.elementor-2137 .elementor-element.elementor-element-7264064{width:var( --container-widget-width, 16vw );max-width:16vw;--container-widget-width:16vw;--container-widget-flex-grow:0;font-size:1.25vw;font-weight:300;line-height:1.375em;color:var( --e-global-color-e7eca4f );}@media(max-width:1024px){.elementor-2137 .elementor-element.elementor-element-3e8e419{--min-height:27.23vw;}.elementor-2137 .elementor-element.elementor-element-2937484 > .elementor-widget-container{margin:-5px -5px 0px 0px;}.elementor-2137 .elementor-element.elementor-element-2937484 .elementor-icon{font-size:7.2vw;}.elementor-2137 .elementor-element.elementor-element-2937484 .elementor-icon svg{height:7.2vw;}.elementor-2137 .elementor-element.elementor-element-eaeb4c1 > .elementor-widget-container{margin:-5px -5px 0px 0px;}.elementor-2137 .elementor-element.elementor-element-eaeb4c1 .elementor-icon{font-size:6vw;}.elementor-2137 .elementor-element.elementor-element-eaeb4c1 .elementor-icon svg{height:6vw;}.elementor-2137 .elementor-element.elementor-element-d311456{width:var( --container-widget-width, 68% );max-width:68%;--container-widget-width:68%;--container-widget-flex-grow:0;}}@media(max-width:1024px) and (min-width:768px){.elementor-2137 .elementor-element.elementor-element-3e8e419{--width:100%;}}@media(max-width:767px){.elementor-2137 .elementor-element.elementor-element-3e8e419{--width:100%;--min-height:54.5vw;--justify-content:space-between;--border-radius:15px 15px 15px 15px;--padding-top:4vw;--padding-bottom:4vw;--padding-left:4vw;--padding-right:4vw;}.elementor-2137 .elementor-element.elementor-element-2937484 > .elementor-widget-container{margin:-2px -2px 0px 0px;}.elementor-2137 .elementor-element.elementor-element-2937484 .elementor-icon{font-size:10.667vw;}.elementor-2137 .elementor-element.elementor-element-2937484 .elementor-icon svg{height:10.667vw;}.elementor-2137 .elementor-element.elementor-element-eaeb4c1 > .elementor-widget-container{margin:-2px -2px 0px 0px;}.elementor-2137 .elementor-element.elementor-element-eaeb4c1 .elementor-icon{font-size:10.667vw;}.elementor-2137 .elementor-element.elementor-element-eaeb4c1 .elementor-icon svg{height:10.667vw;}.elementor-2137 .elementor-element.elementor-element-cb94cc9{--container-widget-width:117px;--container-widget-flex-grow:0;width:var( --container-widget-width, 117px );max-width:117px;}.elementor-2137 .elementor-element.elementor-element-cb94cc9 .elementor-heading-title{font-size:4.267vw;line-height:1.188em;}.elementor-2137 .elementor-element.elementor-element-d311456{--container-widget-width:47vw;--container-widget-flex-grow:0;width:var( --container-widget-width, 47vw );max-width:47vw;font-size:3.7vw;}.elementor-2137 .elementor-element.elementor-element-ae31257{--flex-wrap:nowrap;}.elementor-2137 .elementor-element.elementor-element-a86685c{--container-widget-width:117px;--container-widget-flex-grow:0;width:var( --container-widget-width, 117px );max-width:117px;}.elementor-2137 .elementor-element.elementor-element-a86685c .elementor-heading-title{font-size:4.267vw;line-height:1.188em;}.elementor-2137 .elementor-element.elementor-element-7264064{--container-widget-width:47vw;--container-widget-flex-grow:0;width:var( --container-widget-width, 47vw );max-width:47vw;font-size:3.7vw;}}/* Start custom CSS for lottie, class: .elementor-element-acd0761 */.elementor-2137 .elementor-element.elementor-element-acd0761 {
    position: absolute;
 left: 0;
 top: 0;
 right: 0;
 bottom: 0;

}/* End custom CSS */
/* Start custom CSS for icon, class: .elementor-element-2937484 */.elementor-2137 .elementor-element.elementor-element-2937484 .elementor-icon-wrapper {
    display: flex;
}
.elementor-2137 .elementor-element.elementor-element-2937484 svg {
    height: auto !important;
}/* End custom CSS */
/* Start custom CSS for icon, class: .elementor-element-eaeb4c1 */.elementor-2137 .elementor-element.elementor-element-eaeb4c1 .elementor-icon-wrapper {
    display: flex;
}
.elementor-2137 .elementor-element.elementor-element-eaeb4c1 svg {
    height: auto !important;
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-cb94cc9 *//*@media (min-width: 768px) {*/
/*.elementor-2137 .elementor-element.elementor-element-cb94cc9 {*/
/*    transform: translateY(calc(100% - 5px));*/
/*}    */
/*}*/


/*.elementor-editor-active .elementor-2137 .elementor-element.elementor-element-cb94cc9 {*/
/*    transform: none;*/
/*}*/


@media (max-width: 767px) {
    .elementor-2137 .elementor-element.elementor-element-cb94cc9 br {
        display: none !important;
    }
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-d311456 *//*.elementor-2137 .elementor-element.elementor-element-d311456 {*/
/*    transform: translateY(110%);*/
/*}*/

/*@media (max-width: 767px) {*/
/*    .elementor-2137 .elementor-element.elementor-element-d311456 {*/
/*        display: none;*/
/*    }*/
/*}*/


/*.elementor-editor-active .elementor-2137 .elementor-element.elementor-element-d311456 {*/
/*    transform: none;*/
/*}*//* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-cb94cc9 *//*@media (min-width: 768px) {*/
/*.elementor-2137 .elementor-element.elementor-element-cb94cc9 {*/
/*    transform: translateY(calc(100% - 5px));*/
/*}    */
/*}*/


/*.elementor-editor-active .elementor-2137 .elementor-element.elementor-element-cb94cc9 {*/
/*    transform: none;*/
/*}*/


@media (max-width: 767px) {
    .elementor-2137 .elementor-element.elementor-element-cb94cc9 br {
        display: none !important;
    }
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-d311456 *//*.elementor-2137 .elementor-element.elementor-element-d311456 {*/
/*    transform: translateY(110%);*/
/*}*/

/*@media (max-width: 767px) {*/
/*    .elementor-2137 .elementor-element.elementor-element-d311456 {*/
/*        display: none;*/
/*    }*/
/*}*/


/*.elementor-editor-active .elementor-2137 .elementor-element.elementor-element-d311456 {*/
/*    transform: none;*/
/*}*//* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-ae31257 */.elementor-2137 .elementor-element.elementor-element-ae31257{

       transform: translateY(150%);
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-a86685c *//*@media (min-width: 768px) {*/
/*.elementor-2137 .elementor-element.elementor-element-a86685c {*/
/*    transform: translateY(calc(100% - 5px));*/
/*}    */
/*}*/


/*.elementor-editor-active .elementor-2137 .elementor-element.elementor-element-a86685c {*/
/*    transform: none;*/
/*}*/



@media (max-width: 767px) {
    .elementor-2137 .elementor-element.elementor-element-a86685c br {
        display: none !important;
    }
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-7264064 *//*.elementor-2137 .elementor-element.elementor-element-7264064 {*/
/*    transform: translateY(110%);*/
/*}*/

/*@media (max-width: 767px) {*/
/*    .elementor-2137 .elementor-element.elementor-element-7264064 {*/
/*        display: none;*/
/*    }*/
/*}*/


/*.elementor-editor-active .elementor-2137 .elementor-element.elementor-element-7264064 {*/
/*    transform: none;*/
/*}*//* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-a86685c *//*@media (min-width: 768px) {*/
/*.elementor-2137 .elementor-element.elementor-element-a86685c {*/
/*    transform: translateY(calc(100% - 5px));*/
/*}    */
/*}*/


/*.elementor-editor-active .elementor-2137 .elementor-element.elementor-element-a86685c {*/
/*    transform: none;*/
/*}*/



@media (max-width: 767px) {
    .elementor-2137 .elementor-element.elementor-element-a86685c br {
        display: none !important;
    }
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-7264064 *//*.elementor-2137 .elementor-element.elementor-element-7264064 {*/
/*    transform: translateY(110%);*/
/*}*/

/*@media (max-width: 767px) {*/
/*    .elementor-2137 .elementor-element.elementor-element-7264064 {*/
/*        display: none;*/
/*    }*/
/*}*/


/*.elementor-editor-active .elementor-2137 .elementor-element.elementor-element-7264064 {*/
/*    transform: none;*/
/*}*//* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-b33b868 */.elementor-2137 .elementor-element.elementor-element-b33b868{

       transform: translateY(150%);
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-3e8e419 */.elementor-2137 .elementor-element.elementor-element-3e8e419:hover .video-arrow {
     animation: slide2 1s ease-in-out infinite;
}

/*.elementor-2137 .elementor-element.elementor-element-3e8e419 .title, .elementor-2137 .elementor-element.elementor-element-3e8e419 .desc {*/
/*    transition: transform .5s ease-in-out;*/
/*}*/

/*.elementor-2137 .elementor-element.elementor-element-3e8e419:hover .title, .elementor-2137 .elementor-element.elementor-element-3e8e419:hover .desc {*/
/*    transform: translateY(0);*/
/*}*/




.elementor-2137 .elementor-element.elementor-element-3e8e419 .postItem__contents {
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.elementor-2137 .elementor-element.elementor-element-3e8e419:hover .postItem__contents {
  -webkit-transform: translateY(0) !important;
      -ms-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

.elementor-2137 .elementor-element.elementor-element-3e8e419 .postItem__excerpt {
  opacity: 0;
}

.elementor-2137 .elementor-element.elementor-element-3e8e419:hover .postItem__excerpt {
  opacity: 1;
}





@media (min-width: 768px) {
    .elementor-2137 .elementor-element.elementor-element-3e8e419 {
        background: transparent !important;
    }
}/* End custom CSS */